<bio-card>
  <h3 bioCardTitle>Page not found</h3>
  <div bioCardSubtitle>We could not find the page you're looking for.</div>
  <div bioCardSubtitle>Maybe you misspelled it?</div>
  @if (possiblePaths$ | async; as possiblePaths) {
    <bio-card-content>
      @if (possiblePaths.length) {
        <small>Similar pages: </small>
        @for (possiblePath of possiblePaths; track trackBy($index, possiblePath)) {
          <a
            bioButton
            [routerLink]="possiblePath.path"
            primary
            >
            {{ possiblePath.title }}
          </a>
        }
      }
    </bio-card-content>
  }
</bio-card>
