<bio-card>
  <h3 bioCardTitle>Page not found</h3>
  <div bioCardSubtitle>We could not find the page you're looking for.</div>
  <div bioCardSubtitle>Maybe you misspelled it?</div>
  <bio-card-content *ngIf="possiblePaths$ | async as possiblePaths">
    <ng-container *ngIf="possiblePaths.length">
      <small>Similar pages: </small>
      <a
        *ngFor="let possiblePath of possiblePaths; trackBy: trackBy"
        bioButton
        [routerLink]="possiblePath.path"
        primary
      >
        {{ possiblePath.title }}
      </a>
    </ng-container>
  </bio-card-content>
</bio-card>
