@let fragmentStr = fragment$ | async;
<bio-card class="center-block-mobile">
  @if (fragmentStr) {
    <div @fadeInOut class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
  }
  <h3 bioCardTitle>stLmpp</h3>
  <div bioCardSubtitle>Creator of biomercs.net</div>
  <bio-card-content>
    <div class="description" id="description" [class.active]="fragmentStr === 'description'" #fragment>
      <p>Hello, I'm stLmpp.</p>
      <p>
        I play The Mercenaries since Resident Evil 4. Peaked at Resident Evil 5 and 6, but always had the same problem
        as everyone else, the leaderboards (when existent) were full of cheaters.
      </p>
      <p>
        For a long time, the community used to have a sheet with all scores from Resident Evil 5, but it was not that
        updated, and had a lot of flaws, because there were no (explicit) regulations and the updates were dependent on
        some people.
      </p>
      <p>
        So I had the idea of creating this site, to keep a clean and legit leaderboards, and add support for others
        Resident Evil games too.
      </p>
      <p>
        Resident Evil Village recently (2021) launched, and there's no in-game leaderboards, so I saw an opportunity to
        launch the site.
      </p>
    </div>
    <div class="links" id="links" [class.active]="fragmentStr === 'links'" #fragment>
      <a bioButton href="https://github.com/stLmpp">
        <bio-icon [mdi]="mdiGithub"></bio-icon>
        Github
      </a>
      <a bioButton href="https://steamcommunity.com/id/stlmpp/">
        <bio-icon [mdi]="mdiSteam"></bio-icon>
        Steam
      </a>
      <a bioButton href="https://youtube.com/stLmpp">
        <bio-icon [mdi]="mdiYoutube"></bio-icon>
        Youtube
      </a>
      <a bioButton routerLink="/player/p/stLmpp">
        <bio-icon>person</bio-icon>
        My profile
      </a>
    </div>
    <div class="contact" id="contact" [class.active]="fragmentStr === 'contact'" #fragment>
      Want to contact me? Feel free to send an e-mail to <a [href]="mailTo">{{ mail }}</a> or
      <a [href]="mailTo2">{{ mail2 }}</a>
    </div>
    <div class="support" id="support" [class.active]="fragmentStr === 'support'" #fragment>
      Want to support the site and me? Buy me a coffee <a href="https://www.buymeacoffee.com/stlmpp">here</a> or
      <a href="https://ko-fi.com/stlmpp">here</a>
    </div>
  </bio-card-content>
</bio-card>
