p {
  white-space: pre-wrap;
}

.copy-to-clipboard {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.position-relative {
  position: relative;

  code {
    min-height: 4rem;
  }
}

.sql-parameters {
  word-break: break-all;
  white-space: pre-line;
}
