<h4 bioPageTitle></h4>
<bio-accordion>
  <bio-accordion-item
    *ngFor="let error of errors$ | async; trackBy: trackBy"
    accordionTitle="[ {{ error.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }} ] {{ error.id }} - {{ error.name }}"
  >
    <p>User: {{ error.createdByUsername ?? 'Not logged' }}</p>
    <pre><code [highlight]="error.message"></code></pre>
    <pre><code [highlight]="error.stack"></code></pre>
    <p *ngIf="error.sqlCode">SQL Code: {{ error.sqlCode }}</p>
    <p *ngIf="error.sqlHint">SQL Hint: {{ error.sqlHint }}</p>
    <ng-container *ngIf="error.sqlQuery">
      <div class="sql-query">
        <button
          *ngIf="error.sqlQueryWithParameters"
          class="copy-to-clipboard"
          bioButton
          icon
          type="button"
          (click)="copyQueryToClipboard(error.sqlQueryWithParameters)"
          tooltip="Copy to clipboard (with parameters)"
        >
          <icon>assignment</icon>
        </button>
        <pre><code [highlight]="error.sqlQuery" [languages]="['sql']"></code></pre>
      </div>
      <p *ngIf="error.sqlParameters && error.sqlParameters.length">
        Parameters: {{ error.sqlParameters | join: '.':', ' }}
      </p>
    </ng-container>
  </bio-accordion-item>
</bio-accordion>
<bio-pagination
  [meta]="meta$ | async"
  setQueryParamsOnChange
  (itemsPerPageChange)="onItemsPerPage($event)"
  (currentPageChange)="onCurrentPageChange($event)"
></bio-pagination>
