<bio-loading *ngIf="loading"></bio-loading>
<h4 bioPageTitle></h4>
<bio-accordion>
  <bio-accordion-item
    *ngFor="let error of errors; trackBy: trackBy"
    accordionTitle="[ {{ error.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }} ] {{ error.id }} - {{ error.name }}"
  >
    <p>User: {{ error.createdByUsername ?? 'Not logged' }}</p>
    <ng-container *ngIf="error.url">
      <h4>End-point:</h4>
      <div class="position-relative">
        <button
          class="copy-to-clipboard"
          bioButton
          icon
          type="button"
          (click)="copyToClipboard(error.url)"
          bioTooltip="Copy to clipboard"
        >
          <bio-icon>assignment</bio-icon>
        </button>
        <pre><code [highlight]="error.url"></code></pre>
      </div>
    </ng-container>
    <ng-container *ngIf="error.bodyString">
      <h4>Body:</h4>
      <div class="position-relative">
        <button
          *ngIf="error.bodyString"
          class="copy-to-clipboard"
          bioButton
          icon
          type="button"
          (click)="copyToClipboard(error.bodyString)"
          bioTooltip="Copy to clipboard"
        >
          <bio-icon>assignment</bio-icon>
        </button>
        <pre><code [languages]="['json']" [highlight]="error.bodyString"></code></pre>
      </div>
    </ng-container>
    <h4>Message:</h4>
    <pre><code [highlight]="error.message"></code></pre>
    <h4>Stack:</h4>
    <pre><code [highlight]="error.stack"></code></pre>
    <p *ngIf="error.sqlCode">SQL Code: {{ error.sqlCode }}</p>
    <p *ngIf="error.sqlHint">SQL Hint: {{ error.sqlHint }}</p>
    <ng-container *ngIf="error.sqlQuery">
      <h4>Query:</h4>
      <div class="position-relative">
        <button
          *ngIf="error.sqlQueryWithParameters"
          class="copy-to-clipboard"
          bioButton
          icon
          type="button"
          (click)="copyToClipboard(error.sqlQueryWithParameters)"
          bioTooltip="Copy to clipboard (with parameters)"
        >
          <bio-icon>assignment</bio-icon>
        </button>
        <pre><code [highlight]="error.sqlQuery" [languages]="['sql']"></code></pre>
      </div>
      <ng-container *ngIf="error.sqlParametersFormatted">
        Parameters:
        <pre class="sql-parameters">
          <code [highlight]="error.sqlParametersFormatted" [languages]="['yaml']"></code>
        </pre>
      </ng-container>
    </ng-container>
  </bio-accordion-item>
</bio-accordion>
<bio-pagination
  [meta]="meta"
  setQueryParamsOnChange
  (itemsPerPageChange)="onItemsPerPage($event)"
  (currentPageChange)="onCurrentPageChange($event)"
></bio-pagination>
