<h4 bioPageTitle></h4>

<bio-form-field label="Search">
  <input
    bioInput
    type="search"
    placeholder="Search"
    [control]="searchControl"
    autocomplete="off"
    (keydown.arrowDown)="accordionDirective?.focusKeyManager?.setFirstItemActive()"
  />
  <bio-icon bioPrefix>search</bio-icon>
</bio-form-field>

<bio-accordion
  (itemExpanded)="onItemExpanded($event)"
  [bioFilter]="search$ | async"
  (bioFilterChange)="onFilterChange($event)"
>
  <bio-accordion-item
    bioFilterItem
    accordionTitle="How can I submit a score?"
    *ngLet="isMobile$ | async as isMobile"
    id="how-can-i-submit-a-score"
  >
    There a link in the header (
    <a
      bioButton
      [icon]="isMobile"
      routerLink="/score/add"
      queryParamsHandling="preserve"
      bioTooltip="Submit score"
      bioTooltipPosition="bottom"
      small
      [bioTooltipDisabled]="!isMobile"
    >
      <bio-icon small>add</bio-icon>
      <ng-container *ngIf="!isMobile">Submit score</ng-container>
    </a>
    ), that redirects you to the page of score submission.<br />
    There you can select all the parameters of your score (Platform, Game, Stage, etc), and submit it.
  </bio-accordion-item>
  <bio-accordion-item
    bioFilterItem
    accordionTitle="After I submitted my score, what happens?"
    id="after-i-submitted-my-score-what-happens"
  >
    It depends. <br /><br />

    <ol>
      <li>It goes to the approval of an admin</li>
      <li>
        If an admin approves your score:
        <a class="inherit" [routerLink]="[]" fragment="what-happens-when-my-score-is-approved">
          What happens when my score is approved?
        </a>
      </li>
      <li>
        If an admin rejects your score:
        <a class="inherit" [routerLink]="[]" fragment="what-happens-when-my-score-is-rejected">
          What happens when my score is rejected?
        </a>
      </li>
      <li>
        If an admin requests changes to your score:
        <a class="inherit" [routerLink]="[]" fragment="what-happens-when-an-admin-request-changes-to-my-score">
          What happens when an admin request changes to my score?
        </a>
      </li>
    </ol>
  </bio-accordion-item>
  <bio-accordion-item
    bioFilterItem
    accordionTitle="What happens when my score is approved?"
    id="what-happens-when-my-score-is-approved"
  >
    Your score will be visible to anyone, and will enter the Leaderboards.
  </bio-accordion-item>
  <bio-accordion-item
    bioFilterItem
    accordionTitle="What happens when my score is rejected?"
    id="what-happens-when-my-score-is-rejected"
  >
    We will try our best to never do this, but if your score gets rejected, will you have to submit another one.
  </bio-accordion-item>
  <bio-accordion-item
    bioFilterItem
    accordionTitle="What happens when an admin request changes to my score?"
    id="what-happens-when-an-admin-request-changes-to-my-score"
  >
    You'll need to change your score and it will be re-submitted to approval.
    <br />
    <small>This is what we will always try to do instead of rejecting the score.</small>
  </bio-accordion-item>
  <bio-accordion-item accordionTitle="Why do we need this approval system?" id="why-do-we-need-this-approval-system">
    The in-game leaderboards (when existent) are full of cheaters, most of the scores are 999.999.999 or 2.147.483.647,
    <br />
    so, with this approval system, we can filter legit scores, and have a clean leaderboards for all games
  </bio-accordion-item>
  <bio-accordion-item accordionTitle="Why would my score be rejected?" id="why-would-my-score-be-rejected">
    There are 2 main reasons for that:
    <ol>
      <li>If your score is proven to be cheated</li>
      <li>If you don't provide enough evidence for your score</li>
    </ol>
    But you can read the <a class="inherit" routerLink="/rules">rules here.</a>
  </bio-accordion-item>
</bio-accordion>
