<ng-container *ngLet="user$ | async as user">
  <ng-container *ngLet="isMobile$ | async as isMobile">
    @if (sideMenuOpened && user) {
      <bio-side-menu [user]="user" [isMobile]="isMobile" (menuSelected)="toggleSideMenu($event)" />
    }
    <div class="brand-wrapper">
      @if (user) {
        <button bioButton icon type="button" (click)="toggleSideMenu($event)">
          <bio-icon>menu</bio-icon>
        </button>
      }
      <a class="brand" routerLink="/"> Biomercs </a>
    </div>
    <div class="end">
      @if (isLogged$ | async) {
        <bio-notifications-icon></bio-notifications-icon>
        <a
          bioButton
          [icon]="isMobile"
          routerLink="/score/add"
          queryParamsHandling="preserve"
          bioTooltip="Submit score"
          bioTooltipPosition="bottom"
          [bioTooltipDisabled]="!isMobile"
        >
          <bio-icon>add</bio-icon>
          @if (!isMobile) {
            Submit score
          }
        </a>
        <button type="button" bioButton [bioMenuTrigger]="menu">
          <bio-icon>person</bio-icon>
          @if (!isMobile) {
            {{ user.username }}
          }
          <bio-icon class="triangle" [mdi]="mdiTriangle" [size]="8"></bio-icon>
        </button>
        <bio-menu #menu>
          @if (user.idPlayer) {
            <a bioButton bioMenuItem [routerLink]="['/player', user.idPlayer]"> <bio-icon>person</bio-icon> Profile </a>
          }
          <a bioButton bioMenuItem routerLink="/auth/change-password"> <bio-icon>vpn_key</bio-icon> Change password</a>
          <button type="button" bioButton bioMenuItem (click)="logout()">
            <bio-icon>logout</bio-icon>
            Logout
          </button>
        </bio-menu>
      } @else {
        <a bioButton routerLink="/auth/register">Register</a>
        <a bioButton routerLink="/auth/login">Login</a>
      }
    </div>
  </ng-container>
</ng-container>
