@use 'variables' as v;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$accent-300;
  padding: 1rem;
  height: v.$header-height;
  min-height: v.$header-height;

  .brand-wrapper {
    display: flex;
    align-items: center;
    .button {
      margin-right: 1rem;
    }
    .brand {
      text-decoration: none;
      color: v.$primary-600;
      font-size: 1.25rem;
    }
  }

  .triangle {
    font-size: 8px;
    line-height: 8px;
    &::before {
      transform: rotate(180deg);
    }
  }
}
