<ng-container *ngLet="user$ | async as user">
  <ng-container *ngLet="isMobile$ | async as isMobile">
    <bio-side-menu
      *ngIf="sideMenuOpened && user"
      [user]="user"
      [isMobile]="isMobile"
      (menuSelected)="toggleSideMenu($event)"
    ></bio-side-menu>
    <div class="brand-wrapper">
      <button bioButton icon type="button" (click)="toggleSideMenu($event)" *ngIf="user">
        <bio-icon>menu</bio-icon>
      </button>
      <a class="brand" routerLink="/"> Biomercs </a>
    </div>
    <div class="end">
      <ng-container *ngIf="isLogged$ | async; else notLogged">
        <a
          bioButton
          [icon]="isMobile"
          routerLink="/score/add"
          queryParamsHandling="preserve"
          tooltip="Submit score"
          tooltipPosition="bottom"
          [tooltipDisabled]="!isMobile"
        >
          <bio-icon>add</bio-icon>
          <ng-container *ngIf="!isMobile">Submit score</ng-container>
        </a>
        <button type="button" bioButton [menuTrigger]="menu">
          <bio-icon>person</bio-icon>
          <ng-container *ngIf="!isMobile">{{ user.username }}</ng-container>
          <bio-icon class="triangle" [mdi]="mdiTriangle" [size]="8"></bio-icon>
        </button>
        <bio-menu #menu>
          <a bioButton menuItem [routerLink]="pathToProfile$ | async"> <bio-icon>person</bio-icon> Profile </a>
          <a bioButton menuItem routerLink="/auth/change-password"> <bio-icon>vpn_key</bio-icon> Change password</a>
          <button type="button" bioButton menuItem (click)="logout()">
            <bio-icon>logout</bio-icon>
            Logout
          </button>
        </bio-menu>
      </ng-container>
      <ng-template #notLogged>
        <a bioButton routerLink="/auth/register">Register</a>
        <a bioButton routerLink="/auth/login">Login</a>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
