<form [controlGroup]="form" (groupSubmit)="login()" class="center-container">
  <bio-card class="center-block-mobile">
    <h3 bioCardTitle>Login</h3>
    <bio-card-content>
      <bio-form-field>
        <label>Username</label>
        <input autocomplete="username" bioInput controlName="username" autocapitalize="off" />
        <bio-errors>
          <bio-error *error="'required'">Username is required</bio-error>
        </bio-errors>
      </bio-form-field>
      <bio-form-field>
        <label>Password</label>
        <input [type]="typePassword" autocomplete="current-password" bioInput controlName="password" />
        <bio-hint end><a routerLink="../forgot-password">Forgot password?</a></bio-hint>
        <bio-errors>
          <bio-error *error="'required'">Password is required</bio-error>
        </bio-errors>
        <button
          bioSuffix
          bioButton
          icon
          type="button"
          (click)="typePassword = typePassword === 'password' ? 'text' : 'password'"
          >
          <bio-icon>{{ typePassword === 'password' ? 'visibility_off' : 'visibility' }}</bio-icon>
        </button>
      </bio-form-field>
      <bio-checkbox controlName="rememberMe"> Remember me </bio-checkbox>
      @if (error) {
        <p class="text-danger">{{ error }}</p>
      }
    </bio-card-content>
    <bio-card-actions end>
      <button bioButton primary type="button" (click)="loginSteam()" [loading]="loadingSteam" [disabled]="loading">
        Login Steam
      </button>
      <button bioButton primary type="submit" [disabled]="form.invalid || loadingSteam" [loading]="loading">
        Login
      </button>
    </bio-card-actions>
  </bio-card>
</form>
