<form [controlGroup]="form" (groupSubmit)="onSubmit()">
  <h4 bioModalTitle>Update score</h4>
  <bio-modal-content>
    <div controlArrayName="scorePlayers">
      <ng-container
        *ngFor="let scorePlayer of data.score.scorePlayers; trackBy: trackByScorePlayer; let $index = index"
      >
        <div [controlGroupName]="$index" class="player">
          <div class="title">
            <h5>Player {{ $index + 1 }} ({{ scorePlayer.idPlayer }})</h5>
            <label>
              <input type="radio" name="host" [value]="true" controlName="host" (change)="hostChange($index)" />
              Host
            </label>
          </div>
          <div class="body">
            <form-field label="Description">
              <input bioInput controlName="description" placeholder="Description" />
              <errors>
                <error *error="'required'">Description is required</error>
              </errors>
            </form-field>
            <form-field label="Bullet kills">
              <input bioInput controlName="bulletKills" placeholder="Number of bullet kils" type="number" />
              <errors>
                <error *error="'required'">Bullet kills is required</error>
              </errors>
            </form-field>
            <form-field label="Evidence">
              <input bioInput controlName="evidence" placeholder="Evidence video URL" type="url" />
              <errors>
                <error *error="'required'">Evidence is required</error>
                <error *error="'url'">Evidence must be an URL</error>
              </errors>
            </form-field>
            <ng-container *ngIf="scorePlayersControl.get($index)! as playerControl">
              <ng-container *ngLet="playerControl.value$ | async as playerUpdate">
                <a
                  *ngIf="playerControl.get('evidence')!.valid"
                  bio-url-preview
                  [url]="playerUpdate.evidence || null"
                ></a>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <hr />
      </ng-container>
    </div>
    <div class="score-info body">
      <form-field label="Score">
        <input bioInput controlName="score" bioCurrencyMask placeholder="Score" autocomplete="off" />
        <errors>
          <error *error="'required'">Score is required</error>
        </errors>
      </form-field>
      <form-field label="Max combo">
        <input bioInput controlName="maxCombo" type="number" autocomplete="off" />
        <errors>
          <error *error="'required'">Max combo is required</error>
          <error *error="'min'">Max combo can't be negative</error>
          <error *error="'max'">Max combo can surpass 400</error>
        </errors>
      </form-field>
      <form-field label="Time">
        <input
          bioInput
          controlName="time"
          [bioMask]="maskEnum.time"
          [dropSpecialCharacters]="false"
          [patterns]="maskTimePattern"
          autocomplete="off"
        />
        <errors>
          <error *error="'required'">Time is required</error>
        </errors>
      </form-field>
    </div>
    <hr />
    <h5>Changes Requested</h5>
    <div class="score-changes" controlArrayName="idsScoreChangeRequests">
      <label
        *ngFor="
          let scoreChangeRequest of data.score.scoreChangeRequests;
          trackBy: trackByScoreChangeRequest;
          let $index = index
        "
        [controlGroupName]="$index"
      >
        <input type="checkbox" controlName="checked" />
        {{ scoreChangeRequest.description }}
      </label>
    </div>
    <hr />
  </bio-modal-content>
  <bio-modal-actions end *ngLet="loading$ | async as loading">
    <button bioButton type="submit" [disabled]="form.invalid" [loading]="loading" primary>Submit</button>
    <button bioButton type="button" (click)="modalRef.close()" [disabled]="loading">Close</button>
  </bio-modal-actions>
</form>
