<bio-card dark>
  <bio-loading *ngIf="loading"></bio-loading>
  <h4 bioCardTitle>{{ topic.name }}</h4>
  <bio-card-content>
    <div class="actions" *ngIf="!topic.lockedDate || topic.isModerator">
      <button accent bioButton type="button" (click)="onReply()" [loading]="loadingReply">
        <bio-icon>reply</bio-icon>
        Reply
      </button>
    </div>
    <bio-forum-topic-post
      *ngFor="let post of topic.posts.items; trackBy: trackById; let $odd = odd"
      [idSubCategory]="topic.idSubCategory"
      [post]="post"
      [odd]="$odd"
      [topicLocked]="!!topic.lockedDate && !topic.isModerator"
      [loadingReply]="loadingReply"
      (postChange)="onPostChange($event)"
      (postDelete)="onPostDelete()"
      (postQuote)="onReply($event)"
      (topicDelete)="onTopicDelete()"
    ></bio-forum-topic-post>
  </bio-card-content>
  <bio-card-actions end>
    <bio-pagination
      [meta]="topic.posts.meta"
      itemsPerPageHidden
      (currentPageChange)="onPageChange($event)"
    ></bio-pagination>
  </bio-card-actions>
</bio-card>
