@use 'variables' as v;
@use 'mixins' as m;

.card {
  border-radius: v.$radius;
  background-color: v.$light;
  display: block;
  color: v.$dark;
  @include m.elevation(2);
  &.dark {
    background-color: v.$primary;
    color: v.$primary-600;
  }
  &.collapsable {
    > .header {
      position: relative;
      padding-right: 1.5rem;
      cursor: pointer;
      .collapse-icon-wrapper {
        display: grid;
        place-items: center;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: inherit;
        padding-right: inherit;
      }
    }
  }
  > .header {
    padding: 1rem;
  }
  .card-title {
    margin-bottom: 0.25rem;
    font-weight: 500;
  }
  .card-subtitle {
    font-size: 0.85rem;
    color: v.$primary-100;
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
  .card-content {
    display: block;
    padding: 1rem;
  }
  &.has-header {
    .card-content {
      padding-top: 0;
    }
  }
  &.has-actions {
    .card-content {
      padding-bottom: 0;
    }
  }
  .card-actions {
    @include m.actions(0);
    padding: 1rem;
  }
}
