<form [controlGroup]="form" (groupSubmit)="save()">
  <h4 bioModalTitle>{{ action }} score</h4>
  <bio-modal-content>
    <bio-score-info [score]="score"></bio-score-info>
    <hr />
    <bio-form-field label="Description">
      <textarea placeholder="Description" resize="vertical" bioInput controlName="description"></textarea>
      <bio-errors>
        <bio-error *error="'required'">Description is required</bio-error>
      </bio-errors>
    </bio-form-field>
    <bio-form-field [loading]="loadingMotives" label="Motive">
      <bio-select controlName="idScoreApprovalMotive" placeholder="Motive">
        <bio-option *ngFor="let motive of scoreApprovalMotives$ | async; trackBy: trackById" [value]="motive.id">
          {{ motive.description }}
        </bio-option>
      </bio-select>
      <bio-errors>
        <bio-error *error="'required'">Motive is required</bio-error>
      </bio-errors>
    </bio-form-field>
  </bio-modal-content>
  <bio-modal-actions end>
    <button
      [disabled]="form.invalid"
      [loading]="saving"
      [bioType]="action === scoreApprovalActionEnum.Approve ? 'primary' : 'danger'"
      bioButton
      type="submit"
    >
      {{ action }}
    </button>
    <button type="button" bioButton (click)="modalRef.close()" [disabled]="saving">Close</button>
  </bio-modal-actions>
</form>
