@use 'variables' as v;

$size: 2rem;

:host {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, $size));
  grid-gap: 0.5rem;
}

.day,
.day-name {
  min-height: $size;
  height: $size;
  min-width: $size;
  width: $size;
}

.day-name {
  display: grid;
  place-items: center;
}

.day {
  &.today {
    border: 1px solid transparentize(v.$primary, 0.3);
  }

  &.selected {
    background-color: v.$accent-300;
  }
}
