<h4 bioPageTitle></h4>
<form [controlGroup]="form" (groupSubmit)="onSubmit()">
  @let isInvalid = isInvalid$ | async;
  <bio-card>
    <h3 bioCardTitle>Create player</h3>
    <bio-card-content>
      <div class="fields">
        <bio-form-field label="Steam ID">
          <input bioInput type="text" controlName="steamid" placeholder="Steam ID" />
          <bio-errors>
            <bio-error *error="'steamIdExists'">Steam ID already exists</bio-error>
          </bio-errors>
        </bio-form-field>
        <bio-form-field label="Player name">
          <input bioInput type="text" controlName="personaName" placeholder="Player name" />
          <bio-errors>
            <bio-error *error="'personaNameExists'">Player name already exists</bio-error>
          </bio-errors>
          <bio-hint end> {{ personaNameLength$ | async }} / 100 </bio-hint>
        </bio-form-field>
        <bio-form-field label="Title">
          <input bioInput type="text" controlName="title" placeholder="Title" />
          <bio-hint end> {{ titleLength$ | async }} / 250 </bio-hint>
        </bio-form-field>
        <bio-form-field label="About me">
          <input bioInput type="text" controlName="aboutMe" placeholder="About me" />
          <bio-hint end> {{ aboutMeLength$ | async }} / 2000 </bio-hint>
        </bio-form-field>
        <bio-form-field label="Region">
          <bio-select controlName="idRegion" placeholder="Region">
            @for (region of regions; track trackByRegion($index, region)) {
              <bio-option [value]="region.id">
                <bio-icon [flag]="region.shortName"></bio-icon> {{ region.name }}
              </bio-option>
            }
          </bio-select>
        </bio-form-field>
      </div>
      @if (isInvalid && form.touched) {
        <p class="text-danger">Either Steam ID or Player name must be fulfilled</p>
      }
    </bio-card-content>
    <bio-card-actions (mouseenter)="onCardActionsMouseenter()">
      <button
        bioButton
        [disabled]="isInvalid || form.invalid || form.pending"
        type="submit"
        primary
        [loading]="loading"
      >
        Create
      </button>
    </bio-card-actions>
  </bio-card>
</form>
