@use 'variables' as v;
@use 'sass:color';

$base-size: 2rem;
$grid-gap: 0.5rem;

@mixin size($width: $base-size, $height: $base-size) {
  min-height: $height;
  height: $height;
  min-width: $width;
  width: $width;
  border-radius: $height;
}

@mixin same-date-border() {
  border: 1px solid color.adjust(v.$primary, $alpha: -0.3, $space: hsl);
}

@mixin selected-color() {
  background-color: v.$accent-300;
}
