@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.accordion {
  display: grid;
  grid-row-gap: 1rem;
}

.accordion-item {
  display: block;
  border-radius: v.$radius;
  background-color: v.$dark-overlay;
  @include m.elevation(2);
  &:not(.disabled) {
    .accordion-item-header {
      cursor: pointer;
    }
    &:not(.expanded) {
      &:hover {
        background-color: lighten(v.$dark-overlay, 5);
      }
    }
  }
}

.accordion-item-header,
.accordion-item-body .accordion-item-content {
  padding: 1rem;
}
.accordion-item-body .accordion-item-content {
  padding-top: 0;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  .accordion-item-icon {
    display: flex;
    icon {
      color: f.get-color(v.$primary-type, 600);
    }
  }
}
