<bio-card class="center-block-medium">
  <h3 bioCardTitle>Rules</h3>
  <bio-card-content>
    <bio-form-field label="Type">
      <bio-select [control]="ruleTypeControl">
        <bio-option [value]="ruleTypeEnum.Main">General</bio-option>
        <bio-option [value]="ruleTypeEnum.Forum">Forum</bio-option>
      </bio-select>
    </bio-form-field>
    @for (rule of rules$ | async; track trackBy($index, rule)) {
      <h5>{{ rule.order }} - {{ rule.description }}</h5>
    }
  </bio-card-content>
  @if (isAdmin$ | async) {
    <bio-card-actions>
      <a bioButton primary routerLink="/admin/rules">Edit rules</a>
    </bio-card-actions>
  }
</bio-card>
