<form [controlGroup]="form" (groupSubmit)="submit()" class="center-container">
  <bio-card class="center-block-mobile">
    <h3 bioCardTitle>Register</h3>
    <bio-card-content>
      <ng-container *ngIf="emailSent; else emailNotSent">
        <p>Please confirm the code we sent to your e-mail</p>
        <bio-confirmation-code-input
          controlName="code"
          label="Confirmation code"
          [codeError]="errorConfirmationCode"
          (focusoutLastItem)="submit()"
        ></bio-confirmation-code-input>
      </ng-container>
      <ng-template #emailNotSent>
        <form-field label="Username" [loading]="usernameControl.pending">
          <input bioInput placeholder="Username" controlName="username" autocomplete="username" />
          <errors>
            <error *error="'required'">Username is required</error>
            <error *error="'minLength'; let error">Username must have at least {{ error.required }} characters</error>
            <error *error="'usernameExists'">Username already exists</error>
          </errors>
          <hint end> {{ usernameLength$ | async }} / 100 </hint>
        </form-field>
        <form-field label="E-mail" [loading]="emailControl.pending">
          <input bioInput placeholder="E-mail" controlName="email" type="email" autocomplete="email" />
          <errors>
            <error *error="'required'">E-mail is required</error>
            <error *error="'email'">E-mail not valid</error>
            <error *error="'emailExists'">E-mail already exists</error>
          </errors>
        </form-field>
        <form-field label="Password">
          <input
            bioInput
            placeholder="Password"
            controlName="password"
            [type]="hidePassword ? 'password' : 'text'"
            autocomplete="new-password"
          />
          <button bioSuffix bioButton icon type="button" (click)="hidePassword = !hidePassword">
            <bio-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</bio-icon>
          </button>
          <errors>
            <error *error="'required'">Password is required</error>
            <error *error="'minLength'; let error">Password must have at least {{ error.required }} characters</error>
          </errors>
        </form-field>
        <bio-password-strong [password]="password$ | async"></bio-password-strong>
        <form-field label="Confirm password">
          <input
            bioInput
            placeholder="Confirm password"
            controlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            autocomplete="off"
          />
          <button bioSuffix bioButton icon type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <bio-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</bio-icon>
          </button>
          <errors>
            <error *error="'required'">Password is required</error>
            <error *error="'minLength'; let error">Password must have at least {{ error.required }} characters</error>
            <error *error="'siblingEquals'">Passwords doesn't match</error>
          </errors>
        </form-field>
      </ng-template>
    </bio-card-content>
    <bio-card-actions end>
      <button
        bioButton
        primary
        type="button"
        (click)="registerSteam()"
        [loading]="loadingSteam"
        [disabled]="loading"
        *ngIf="!emailSent"
      >
        Register with Steam
      </button>
      <button
        bioButton
        primary
        type="submit"
        [disabled]="loadingSteam || form.invalid || form.pending"
        [loading]="loading"
      >
        {{ emailSent ? 'Confirm code' : 'Register' }}
      </button>
    </bio-card-actions>
  </bio-card>
</form>
