<form [controlGroup]="form">
  @if (label()) {
    <label (click)="focusManager.setFirstItemActive()">{{ label() }}</label>
  }
  <div controlArrayName="array" (keydown)="focusManager.onKeydown($event)">
    @for (input of arrayControl; track trackByControl($index, input)) {
      <input
        class="no-arrows"
        bioInput
        [controlName]="$index"
        (blur)="onTouched$.next()"
        (focus)="focusManager.setActiveItem($index)"
        (paste)="onPaste($event)"
        (keydown.backspace)="onKeyupBackspace($event, $index)"
        placeholder="0"
        confirmationCodeInput
        inputmode="numeric"
        />
    }
  </div>
  <div class="errors">
    @if (arrayControl.invalid && isTouched) {
      <bio-error>Invalid code</bio-error>
    }
    @if (codeError()) {
      <span class="error">{{ codeError() }}</span>
    }
  </div>
</form>
