<bio-loading *ngIf="loading"></bio-loading>
<form [controlGroup]="form" (groupSubmit)="save()">
  <h4 bioModalTitle>{{ idCategory ? 'Edit' : 'Add' }} Category</h4>
  <bio-modal-content>
    <bio-form-field label="Name">
      <input bioInput placeholder="Name" controlName="name" />
      <bio-hint end>{{ nameHint$ | async }}</bio-hint>
      <bio-errors>
        <bio-error *error="'required'">Name is required</bio-error>
        <bio-error *error="'whiteSpace'">Name is required</bio-error>
      </bio-errors>
    </bio-form-field>
    <ng-container *ngIf="idCategory">
      <bio-checkbox controlName="deleted" *ngIf="!category.deletedDate">Delete this category</bio-checkbox>
      <bio-checkbox controlName="restored" *ngIf="category.deletedDate">Restore this category</bio-checkbox>
    </ng-container>
  </bio-modal-content>
  <bio-modal-actions end>
    <button type="button" bioButton bioModalClose [disabled]="saving">Close</button>
    <button type="submit" bioButton [disabled]="form.invalid" [loading]="saving">Save</button>
  </bio-modal-actions>
</form>
