<bio-modal-content>
  <div class="title">Approve</div>
  <div class="title">Reject</div>
  <div class="title">Request changes</div>
  <div class="button-wrapper">
    <button
      bioButton
      icon
      large
      bioTooltip="Approve"
      tooltipPosition="right"
      (click)="openModalApproval(scoreApprovalActionEnum.Approve)"
      [disabled]="loading"
      type="button"
    >
      <bio-icon large>check</bio-icon>
    </button>
  </div>
  <div class="button-wrapper">
    <button
      bioButton
      icon
      large
      bioTooltip="Reject"
      tooltipPosition="right"
      (click)="openModalApproval(scoreApprovalActionEnum.Reject)"
      [disabled]="loading"
      type="button"
    >
      <bio-icon large>close</bio-icon>
    </button>
  </div>
  <div class="button-wrapper">
    <button
      bioButton
      icon
      large
      bioTooltip="Request changes"
      tooltipPosition="right"
      type="button"
      (click)="openModalRequestChanges()"
      [disabled]="loading"
    >
      <bio-icon large>sync_alt</bio-icon>
    </button>
  </div>
</bio-modal-content>
