<form [controlGroup]="form" (groupSubmit)="onSubmit()">
  <bio-form-field label="Name">
    <input bioInput controlName="name" placeholder="Name" />
  </bio-form-field>
  <label for="content">Content</label>
  <ckeditor id="content" [editor]="editor" controlName="content"></ckeditor>
  <div class="actions">
    <button bioButton type="button" (click)="onCancel()" [disabled]="saving">Cancel</button>
    <button bioButton type="submit" [loading]="saving" [disabled]="form.invalid">Submit</button>
  </div>
</form>
