.params {
  margin-bottom: 1rem;
}

@mixin table-scores() {
  .header,
  .body {
    .platform,
    .game,
    .mode,
    .stage {
      flex-basis: 80px;
      flex-grow: 0;
    }
    .creation-date {
      flex-basis: 125px;
      flex-grow: 0;
    }
    .last-updated-date {
      flex-basis: 140px;
      flex-grow: 0;
    }
    .score {
      justify-content: flex-end;
      padding-right: 1.25rem;
      flex-basis: 150px;
      flex-grow: 0;
    }
    .mini-game {
      flex-basis: 250px;
      flex-grow: 0;
    }
  }
}

.flex-table {
  .header,
  .body {
    .approve {
      flex-basis: 100px;
      flex-grow: 0;
    }
    .order-icon {
      position: absolute;
      right: 0;
    }
  }
  .header {
    > div:not(:last-child):not(:first-child):not(.platform) {
      cursor: pointer;
    }
  }
  @include table-scores();
}
