<ng-container *ngIf="!colDef.component">
  <ng-container
    *ngIf="colDef.template; else noTemplate"
    [ngTemplateOutlet]="colDef.template"
    [ngTemplateOutletContext]="{ item: item, colDef: colDef }"
  >
  </ng-container>
  <ng-template #noTemplate>
    <span
      *ngLet="item[colDef.property] | tableCellFormatter: colDef.formatter as value"
      [tooltip]="item | tableCellTooltip: colDef.tooltip:value"
      [tooltipPosition]="colDef.tooltipPosition"
      [tooltipDisabled]="!colDef.tooltip"
    >
      {{ value }}
    </span>
  </ng-template>
</ng-container>
<ng-template cdkPortalOutlet></ng-template>
