@if (!colDef().component) {
  @if (colDef().template) {
    <ng-container
      [ngTemplateOutlet]="colDef().template"
      [ngTemplateOutletContext]="{ item: item(), colDef: colDef() }"
    />
  } @else {
    <span
      *ngLet="item()[colDef().property] | tableCellFormatter: colDef().formatter as value"
      [bioTooltip]="item() | tableCellTooltip: colDef().tooltip : value"
      [bioTooltipPosition]="colDef().tooltipPosition"
      [bioTooltipDisabled]="!colDef().tooltip"
    >
      {{ value }}
    </span>
  }
}
<ng-template cdkPortalOutlet />
