<div
  class="select-value"
  [class.placeholder]="!viewValue && placeholder()"
  [innerHTML]="viewValue || placeholder()"
></div>
<div class="select-icon">
  <bio-icon small>keyboard_arrow_down</bio-icon>
</div>
<ng-template #panel>
  <div
    class="select-panel height-{{ options().length + optgroups().length }}"
    tabindex="0"
    (keydown)="onPanelKeydown($event)"
    cdkTrapFocus
    @fadeInOut
    @scaleIn
    (@fadeInOut.done)="onFadeInOutDone($event)"
  >
    <ng-content></ng-content>
  </div>
</ng-template>
