@use 'variables' as v;
@use 'functions' as f;
@use 'sass:color';

.bio-loading.bio-loading-backdrop {
  z-index: f.get-z-index(loading);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait;

  > .loading-box {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: v.$radius;
    background-color: color.adjust(v.$light-grey, $alpha: -0.1, $space: hsl);
  }
}
