<bio-loading *ngIf="loading"></bio-loading>
<h4 bioModalTitle>Manage moderators</h4>
<bio-modal-content>
  <bio-multi-select
    itemsSearchHint="Type at least 3 characters to start searching"
    [items]="moderators"
    [selected]="moderatorsSelected"
    [loadingItems]="loadingPlayers"
    [label]="label"
    [disabledKey]="disabledKey"
    (search)="onSearch($event)"
    (removeItem)="onRemoveItem($event)"
    (allRemoved)="onAllRemoved($event)"
    (selectItem)="onSelectItem($event)"
    (allSelected)="onAllSelected($event)"
  >
  </bio-multi-select>
</bio-modal-content>
<bio-modal-actions end>
  <button type="button" bioButton bioModalClose [disabled]="saving">Close</button>
  <button type="button" bioButton (click)="save()" [loading]="saving">Save</button>
</bio-modal-actions>
