<ng-container *ngIf="state$ | async as state">
  <bio-card *ngIf="player$ | async as player" class="player">
    <div bioCardTitle>
      <button
        *ngIf="state.isSameAsLogged; else flagTemplate"
        class="flag"
        bioButton
        icon
        [disabled]="loadingRegion$ | async"
        (click)="openModalSelectRegion()"
        (mouseenter)="preloadRegions()"
        aria-label="Change region"
      >
        <ng-container *ngTemplateOutlet="flagTemplate"></ng-container>
      </button>
      <ng-template #flagTemplate>
        <icon small [flag]="player.region?.shortName" [tooltip]="player.region?.name"></icon>
      </ng-template>
      <h3>{{ player.personaName }}</h3>
      <a
        class="steam"
        bioButton
        icon
        *ngIf="player.steamProfile"
        [href]="player.steamProfile.profileurl"
        tooltip="Steam profile"
      >
        <icon [mdi]="mdiSteam"></icon>
      </a>
    </div>
    <div bioCardSubtitle>{{ player.title }}</div>
    <div bioCardSubtitle class="about-me">{{ player.aboutMe }}</div>
    <bio-card-content>
      <div *ngIf="state.isSameAsLogged && state.editMode" @fadeInOut>
        <form-field
          label="Persona name"
          [loading]="model.isPending"
          *ngLet="player.lastUpdatedPersonaNameDate | playerCanUpdatePersonaName as canUpdatePersonaName"
        >
          <input
            bioInput
            #model="model"
            [model]="player.personaName"
            placeholder="Persona name"
            personaNameExists
            [personaNameExistsIgnore]="player.personaName"
            [disabled]="!canUpdatePersonaName || state.saving"
            (modelChange)="updatePersonaName($event)"
          />
          <hint>
            <ng-container *ngIf="canUpdatePersonaName; else cantUpdatePersonaName">
              The persona name can be updated one time per week
            </ng-container>
            <ng-template #cantUpdatePersonaName>
              Persona name will be available again in
              {{ player.lastUpdatedPersonaNameDate | dateDifference: todayMinusSevenDate:['days', 'hours'] }}
            </ng-template>
          </hint>
          <errors>
            <error *error="'personaNameExists'">Player name already exists</error>
          </errors>
        </form-field>
        <form-field label="Title">
          <input
            bioInput
            [model]="player.title"
            placeholder="Title"
            (modelChange)="update('title', $event)"
            [disabled]="state.saving"
          />
        </form-field>
        <form-field label="About me">
          <textarea
            bioInput
            resize="vertical"
            rows="3"
            [model]="player.aboutMe"
            placeholder="Title"
            (modelChange)="update('aboutMe', $event)"
            [disabled]="state.saving"
          ></textarea>
        </form-field>
      </div>
    </bio-card-content>
    <bio-card-actions *ngIf="state.isSameAsLogged">
      <button
        *ngIf="!player.idSteamProfile"
        bioButton
        primary
        type="button"
        (click)="linkSteam(player.id)"
        [loading]="loadingLinkSteam$ | async"
        [disabled]="state.saving"
      >
        Link steam
      </button>
      <button
        bioButton
        primary
        type="button"
        (click)="save()"
        [loading]="state.saving"
        [disabled]="state.editMode && !state.canSave"
        *ngIf="state.editMode"
        @fadeInOut
      >
        Save
      </button>
      <button bioButton primary type="button" (click)="toggleEditMode()" [disabled]="state.saving">
        {{ state.editMode ? 'Cancel' : 'Edit profile' }}
      </button>
    </bio-card-actions>
  </bio-card>
</ng-container>

<bio-score-list-responsive
  *ngFor="let status of scoreGroupedByStatus$ | async; trackBy: trackByScoreGroupByStatus"
  [scores]="status.scores"
  [title]="status.description"
  [colDefs]="colDefs"
  [disabledProperty]="'disabled'"
  (scoreClicked)="openScoreInfo($event)"
  collapsable
>
</bio-score-list-responsive>
