<bio-card *ngIf="player$ | async as player" class="player">
  <h3 bioCardTitle>
    {{ player.personaName }}
    <button bioButton icon [disabled]="loadingRegion$ | async" [tooltip]="player.region?.name">
      <icon [flag]="player.region?.shortName" (click)="openModalSelectRegion()" (mouseenter)="preloadRegions()"></icon>
    </button>
  </h3>
  <ng-container *ngLet="isSameAsLogged$ | async as isSameAsLogged">
    <ng-container *ngIf="isSameAsLogged; else notSameAsLogged">
      <bio-card-content>
        <form-field label="Title">
          <input bioInput [model]="player.title" placeholder="Title" (modelChange)="update('title', $event)" />
        </form-field>
        <form-field label="About me">
          <textarea
            bioInput
            resize="vertical"
            rows="3"
            [model]="player.aboutMe"
            placeholder="Title"
            (modelChange)="update('aboutMe', $event)"
          ></textarea>
        </form-field>
      </bio-card-content>
    </ng-container>
    <ng-template #notSameAsLogged>
      <div bioCardSubtitle>{{ player.title }}</div>
      <div bioCardSubtitle class="about-me">{{ player.aboutMe }}</div>
    </ng-template>
  </ng-container>
</bio-card>
<bio-score-list-responsive
  *ngFor="let status of scoreGroupedByStatus$ | async; trackBy: trackByScoreGroupByStatus"
  [scores]="status.scores"
  [title]="status.description"
  [colDefs]="colDefs"
  [disabledProperty]="'disabled'"
  (scoreClicked)="openScoreInfo($event)"
  [collapsable]="false"
>
</bio-score-list-responsive>
