<h4 bioPageTitle></h4>
<bio-card>
  <h3 bioCardTitle>Parameters</h3>
  <bio-card-content>
    <bio-params
      [params]="form.valueChanges$ | async"
      (paramsChange)="paramsChange($event)"
      [config]="paramsConfig"
      setQueryParamsOnChange
    />
  </bio-card-content>
</bio-card>
<bio-card *ngLet="tableLoading$ | async as tableLoading" [bioLoading]="tableLoading" class="top-table flex-table">
  <bio-card-content>
    @if (scoreTopTableOrdered$ | async; as scores) {
      <ng-container *ngLet="order$ | async as order">
        <div class="header" *ngLet="order.orderByDirection === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' as arrow">
          <div></div>
          <div class="player" (click)="updateOrderByPlayer()">
            Player
            @if (order.orderByType === 'personaName') {
              <bio-icon class="order-icon" small>
                {{ arrow }}
              </bio-icon>
            }
          </div>
          @for (stage of scores.stages; track trackById($index, stage)) {
            <div (click)="updateOrderByStage(stage.id)" [bioTooltip]="stage.name">
              {{ stage.shortName }}
              @if (order.orderBy === stage.id) {
                <bio-icon class="order-icon" small>
                  {{ arrow }}
                </bio-icon>
              }
            </div>
          }
          <div (click)="updateOrderByTotal()">
            Total
            @if (order.orderByType === 'total') {
              <bio-icon class="order-icon" small>
                {{ arrow }}
              </bio-icon>
            }
          </div>
        </div>
      </ng-container>
      <hr />
      <div class="body">
        @if (!scores.scoreTables.length) {
          <div class="no-data-found">No scores found</div>
        }
        @for (player of scores.scoreTables; track trackByPlayer($index, player)) {
          <div>
            <div class="pos-{{ player.position }}">{{ player.position }}</div>
            <div class="player">
              <a block bioButton [routerLink]="['/player', player.idPlayer]"> {{ player.personaName }} </a>
            </div>
            @for (score of player.scores; track trackByScore($index, score)) {
              <div class="score">
                <button [disabled]="!score || (loadingInfo$ | async)" block bioButton (click)="openScoreInfo(score!)">
                  {{ score?.score || 0 | number: '1.0-0' }}
                </button>
              </div>
            }
            <div class="total">
              {{ player.total | number: '1.0-0' }}
            </div>
          </div>
          <hr />
        }
      </div>
    } @else {
      @if (!tableLoading) {
        <div class="no-params">Select the params above to search the leaderboards</div>
      }
    }
  </bio-card-content>
  <bio-card-actions end>
    @if (paginationMeta$ | async; as paginationMeta) {
      <bio-pagination
        [meta]="paginationMeta"
        (currentPageChange)="changePage($event)"
        (itemsPerPageChange)="changeItemsPerPage($event)"
        [itemsPerPageOptions]="itemsPerPageOptions"
        setQueryParamsOnChange
      />
    }
  </bio-card-actions>
</bio-card>
