<h4 bioPageTitle></h4>
<bio-card>
  <h3 bioCardTitle>Parameters</h3>
  <bio-card-content>
    <bio-params
      [params]="form.valueChanges$ | async"
      (paramsChange)="paramsChange($event)"
      [config]="paramsConfig"
      setQueryParamsOnChange
    ></bio-params>
  </bio-card-content>
</bio-card>
<bio-card *ngLet="tableLoading$ | async as tableLoading" [bioLoading]="tableLoading" class="top-table flex-table">
  <bio-card-content>
    <ng-container *ngIf="scoreTopTableOrdered$ | async as scores; else noParams">
      <ng-container *ngLet="order$ | async as order">
        <div class="header" *ngLet="order.orderByDirection === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' as arrow">
          <div></div>
          <div class="player" (click)="updateOrderByPlayer()">
            Player
            <icon class="order-icon" *ngIf="order.orderByType === 'personaName'" small>
              {{ arrow }}
            </icon>
          </div>
          <div
            *ngFor="let stage of scores.stages; trackBy: trackByStage"
            (click)="updateOrderByStage(stage.id)"
            [tooltip]="stage.name"
          >
            {{ stage.shortName }}
            <icon class="order-icon" *ngIf="order.orderBy === stage.id" small>
              {{ arrow }}
            </icon>
          </div>
          <div (click)="updateOrderByTotal()">
            Total
            <icon class="order-icon" *ngIf="order.orderByType === 'total'" small>
              {{ arrow }}
            </icon>
          </div>
        </div>
      </ng-container>

      <hr />
      <div class="body">
        <div class="no-data-found" *ngIf="!scores.scoreTables.length">No scores found</div>
        <ng-container *ngFor="let player of scores.scoreTables; trackBy: trackByPlayer">
          <div>
            <div class="pos-{{ player.position }}">{{ player.position }}</div>
            <div class="player">
              <a block bioButton [routerLink]="['/player', player.idPlayer]"> {{ player.personaName }} </a>
            </div>
            <div class="score" *ngFor="let score of player.scores; trackBy: trackByScore">
              <button [disabled]="!score || (loadingInfo$ | async)" block bioButton (click)="openScoreInfo(score!)">
                {{ score?.score || 0 | number: '1.0-0' }}
              </button>
            </div>
            <div class="total">
              {{ player.total | number: '1.0-0' }}
            </div>
          </div>
          <hr />
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noParams>
      <div class="no-params" *ngIf="!tableLoading">Select the params above to search the leaderboards</div>
    </ng-template>
  </bio-card-content>
  <bio-card-actions end>
    <pagination
      *ngIf="paginationMeta$ | async as paginationMeta"
      [meta]="paginationMeta"
      (currentPageChange)="changePage($event)"
      (itemsPerPageChange)="changeItemsPerPage($event)"
      [itemsPerPageOptions]="itemsPerPageOptions"
      setQueryParamsOnChange
    ></pagination>
  </bio-card-actions>
</bio-card>
