@if (loading) {
  <bio-loading />
}
<h3 bioModalTitle>Region</h3>
<div bioModalTitle>
  <label class="cdk-visually-hidden" for="search">Search</label>
  <input id="search" placeholder="Search" bioInput type="search" [control]="searchControl" autocomplete="off" />
</div>
<bio-list bioModalContent [(model)]="idRegion">
  @if (regions | search: 'name':(search$ | async); as all) {
    <cdk-virtual-scroll-viewport
      itemSize="44"
      (keydown.control.s)="onSave($event)"
      >
      <bio-list-item [value]="region.id" *cdkVirtualFor="let region of all; trackBy: trackByRegion; templateCacheSize: 0">
        <bio-icon bioPrefix [flag]="region.shortName" />
        {{ region.name }}
      </bio-list-item>
      @if (!all.length) {
        <bio-list-item> No data found </bio-list-item>
      }
    </cdk-virtual-scroll-viewport>
  }
</bio-list>
<bio-modal-actions end>
  <button bioButton type="button" (click)="onClose()" [disabled]="saving">Close</button>
  <button bioButton type="button" (click)="onSave()" [loading]="saving">Save</button>
</bio-modal-actions>
