<form [controlGroup]="form" (groupSubmit)="submit()" class="center-container">
  <bio-card class="center-block-mobile">
    <h3 bioCardTitle>Register Steam</h3>
    <bio-card-content>
      <ng-container *ngIf="emailSent; else emailForm">
        <p>Please confirm the code we sent to your e-mail</p>
        <bio-confirmation-code-input
          controlName="code"
          (focusoutLastItem)="submit()"
          label="Confirmation code"
          [codeError]="confirmCodeError"
        ></bio-confirmation-code-input>
      </ng-container>

      <ng-template #emailForm>
        <p>Fill the box with your e-mail and click register to complete your registration</p>
        <bio-form-field label="E-mail">
          <input autocomplete="email" placeholder="E-mail" bioInput controlName="email" type="email" />
          <bio-errors>
            <bio-error *error="'email'">This e-mail is not valid</bio-error>
            <bio-error *error="'required'">E-mail is required</bio-error>
          </bio-errors>
        </bio-form-field>
      </ng-template>
    </bio-card-content>
    <bio-card-actions end>
      <button bioButton primary type="submit" [disabled]="form.invalid" [loading]="loading">
        {{ emailSent ? 'Send confirmation code' : 'Register' }}
      </button>
    </bio-card-actions>
  </bio-card>
</form>
