@use 'variables' as v;

$width: 8rem;
$height: 2rem;

.button.fab {
  min-height: $height;
  height: $height;
  min-width: $width;
  width: $width;
  border-radius: $height;
  text-transform: capitalize;
  &.same-month {
    border: 1px solid transparentize(v.$primary, 0.3);
  }

  &.selected {
    background-color: v.$accent-300;
  }
}

:host {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, $width));
  grid-gap: 0.5rem;
  padding-top: $height;
}
