@if (!itemsPerPageHidden) {
  <div class="items-per-page">
    <span> Items per page: </span>
    <bio-select
      [disabled]="!itemCount() || disabled"
      [model]="itemsPerPage()"
      (modelChange)="itemsPerPageChange.emit($event)"
      placeholder="Items per page"
      >
      @for (option of itemsPerPageOptions(); track trackByNumber($index, option)) {
        <bio-option [value]="option">
          {{ option }}
        </bio-option>
      }
    </bio-select>
  </div>
}
<div class="buttons">
  <span>
    {{ (currentPage() - 1) * itemsPerPage() + 1 }} - {{ currentPage() * itemsPerPage() | min: totalItems() }} of {{ totalItems() }}
  </span>
  <button
    bioButton
    icon
    type="button"
    (click)="onFirstPage()"
    [disabled]="!itemCount() || currentPage() === 1 || disabled"
    bioTooltip="First page"
    >
    <bio-icon>first_page</bio-icon>
  </button>
  <button
    bioButton
    icon
    type="button"
    (click)="onPreviousPage()"
    [disabled]="!itemCount() || currentPage() === 1 || disabled"
    bioTooltip="Previous page"
    >
    <bio-icon>chevron_left</bio-icon>
  </button>
  <button
    bioButton
    icon
    type="button"
    (click)="onNextPage()"
    [disabled]="!itemCount() || currentPage() === totalPages() || disabled"
    bioTooltip="Next page"
    >
    <bio-icon>chevron_right</bio-icon>
  </button>
  <button
    bioButton
    icon
    type="button"
    (click)="onLastPage()"
    [disabled]="!itemCount() || currentPage() === totalPages() || disabled"
    bioTooltip="Last page"
    >
    <bio-icon>last_page</bio-icon>
  </button>
</div>
