<form [controlGroup]="form" (groupSubmit)="onSubmit()" class="center-container">
  <bio-card class="center-block-mobile">
    <h3 bioCardTitle>Contact</h3>
    <div bioCardSubtitle>Send us any questions or suggestions you may have</div>
    <div bioCardSubtitle>
      Our e-mail:
      <a [href]="mailto">{{ mail }}</a>
    </div>
    <bio-card-content>
      <bio-form-field label="Your e-mail">
        <input bioInput controlName="from" autocomplete="off" placeholder="Your e-mail" />
        <bio-errors>
          <bio-error *error="'required'">Your e-mail is required</bio-error>
          <bio-error *error="'email'">Your e-mail needs to be a valid e-mail</bio-error>
        </bio-errors>
      </bio-form-field>
      <bio-form-field label="Subject">
        <input bioInput controlName="subject" autocomplete="off" [placeholder]="subject" />
        <bio-hint>Max 200 characters</bio-hint>
        <bio-hint end *ngIf="subjectControlValue$ | async as subjectControlValue">
          {{ subjectControlValue.length }}/200
        </bio-hint>
        <bio-errors>
          <bio-error *error="'required'">Subject is required</bio-error>
          <bio-error *error="'whiteSpace'">Subject is required</bio-error>
          <bio-error *error="'maxLength'">Subject must not have more than 200 characters</bio-error>
        </bio-errors>
      </bio-form-field>
      <bio-form-field label="Message">
        <textarea
          bioInput
          controlName="body"
          cdkTextareaAutosize
          [cdkAutosizeMinRows]="3"
          [cdkAutosizeMaxRows]="15"
          [placeholder]="body"
        ></textarea>
        <bio-hint>Max 2000 characters</bio-hint>
        <bio-hint end *ngIf="bodyControlValue$ | async as bodyControlValue"
          >{{ bodyControlValue.length }}/2000</bio-hint
        >
        <bio-errors>
          <bio-error *error="'required'">Subject is required</bio-error>
          <bio-error *error="'whiteSpace'">Subject is required</bio-error>
        </bio-errors>
      </bio-form-field>
    </bio-card-content>
    <bio-card-actions>
      <button bioButton primary type="submit" [disabled]="form.invalid" [loading]="sending">Send message</button>
    </bio-card-actions>
  </bio-card>
</form>
