@use 'variables' as v;
@use 'mixins' as m;

label {
  font-size: 0.75rem;
  padding: 0 0.5rem 0.25rem;
  display: inline-block;
  font-weight: 500;

  &.accent {
    color: v.$accent;
  }

  &.danger {
    color: v.$danger;
  }
}

.input {
  width: 100%;
  outline: 0;
  padding: 0.25rem 0.5rem;
  border-radius: v.$radius;
  border: 1px solid v.$primary;
  font-size: 0.75rem;
  font-family: inherit;

  &.accent {
    border-color: v.$accent;
  }

  &.danger {
    border-color: v.$danger;
  }

  &.small {
    font-size: 0.5rem;
  }

  &.large {
    font-size: 1.25rem;
  }

  @include m.form-focus();
}

// https://github.com/angular/components/issues/13161
textarea.cdk-textarea-autosize-measuring {
  padding: 0.5rem 0 !important;
}

input.no-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.form-field-error {
  display: block;
  font-size: 0.65rem;
  color: v.$danger;
}

label.required::after {
  content: '*';
  margin-left: 0.15rem;
}
