@use 'variables' as v;

@use 'functions' as f;

@mixin icon($type) {
  &.#{$type} {
    $color: f.get-color($type);

    color: $color;

    &.disabled {
      color: f.get-disabled-color($color);
    }
  }
}

.icon {
  @include icon(v.$primary-type);
  @include icon(v.$accent-type);
  @include icon(v.$danger-type);

  line-height: 24px;
  fill: currentColor;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  &.icon-mdi {
    display: inline-block;

    svg {
      width: 24px;
    }
  }

  &.small {
    font-size: 18px;
    line-height: 18px;
    transform: rotate(0.03deg);

    &.icon-mdi {
      svg {
        width: 18px;
      }
    }
  }

  &.medium {
    font-size: 24px;
    line-height: 24px;

    &.icon-mdi {
      svg {
        width: 24px;
      }
    }
  }

  &.large {
    font-size: 36px;
    line-height: 36px;

    &.icon-mdi {
      svg {
        width: 36px;
      }
    }
  }
}
