@use 'variables' as v;

.list-item {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid v.$primary-400;
  display: flex;
  outline: none;

  .suffix {
    margin-left: auto;
    display: grid;
    place-items: center;
  }

  .prefix {
    margin-right: 0.5rem;
    display: grid;
    place-items: center;
  }

  > input.control {
    margin-right: 1rem;
  }
}

.bio-list {
  display: flex;
  flex-direction: column;

  a.list-item {
    text-decoration: none;
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &.control {
    .list-item:not(.disabled) {
      cursor: pointer;
      transition: background-color 150ms ease;

      &:hover,
      &.selected,
      &:focus {
        background-color: v.$primary-50;
      }
    }
  }
}

.list-item-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
}

.list-item-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:last-of-type) {
    margin-bottom: 0.2rem;
  }
}
