@use 'variables' as v;
@use 'functions' as f;
@forward '~@material/elevation/elevation-theme';

@mixin actions($margin-top: 1rem) {
  margin-top: $margin-top;
  display: flex;
  align-items: center;

  button:not(:last-child) {
    margin-right: 1rem;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }
}

@mixin form-focus() {
  @include _form-focus(v.$primary-type);
  @include _form-focus(v.$accent-type);
  @include _form-focus(v.$danger-type);

  transition: box-shadow 200ms ease-in-out;
}

@mixin _form-focus($type) {
  &.#{$type} {
    &:not(.disabled):not([disabled]):not(:disabled) {
      &:focus,
      &.is-open {
        box-shadow: 0 0 0 2px transparentize(f.get-color($type, 300), 0.5);
      }

      &:active {
        box-shadow: 0 0 0 3px transparentize(f.get-color($type, 300), 0.5);
      }
    }
  }
}

@mixin disabled() {
  &.disabled,
  &:disabled,
  &[disabled] {
    cursor: default;
    color: hsla(0, 0%, 100%, 0.5);
  }
}

@mixin z-index($name) {
  z-index: f.get-z-index($name);
}
