@use 'variables' as v;
@use 'functions' as f;
@use '~@material/elevation/elevation-theme' as mat-elevation;
@forward '~@material/elevation/elevation-theme';

@mixin actions($margin-top: 1rem) {
  margin-top: $margin-top;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .button {
    margin: 0.5rem;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }
}

@mixin form-focus() {
  @include _form-focus(v.$primary-type);
  @include _form-focus(v.$accent-type);
  @include _form-focus(v.$danger-type);

  transition: box-shadow 200ms ease-in-out;
}

@mixin _form-focus($type) {
  &.#{$type} {
    &:not(.disabled):not([disabled]):not(:disabled) {
      &:focus,
      &.is-open {
        box-shadow: 0 0 0 2px transparentize(f.get-color($type, 300), 0.5);
      }

      &:active {
        box-shadow: 0 0 0 3px transparentize(f.get-color($type, 300), 0.5);
      }
    }
  }
}

@mixin disabled() {
  &.disabled,
  &:disabled,
  &[disabled] {
    cursor: default;
    color: hsla(0, 0%, 100%, 0.5);
  }
}

@mixin z-index($name) {
  z-index: f.get-z-index($name);
}

@mixin drag-and-drop() {
  .cdk-drag-preview {
    @include mat-elevation.elevation(3);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
