@use 'variables' as v;
@use 'typo' as t;

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill-mention/dist/quill.mention.css';

quill-editor {
  display: block;

  .ql-container {
    height: 25vh;
  }

  &.no-border {
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
      border: 0;
    }
  }
}

quill-view {
  display: block;
}

quill-editor.dark,
quill-view.dark {
  color: white;

  .ql-toolbar {
    background-color: v.$primary-600;
    border-top-left-radius: v.$radius;
    border-top-right-radius: v.$radius;
  }

  .ql-container {
    border: 1px solid v.$primary-600;
    border-bottom-left-radius: v.$radius;
    border-bottom-right-radius: v.$radius;
  }

  a {
    @include t.anchor();
  }

  .mention {
    background-color: transparent;
  }
}

quill-view.dark {
  .ql-container {
    border-radius: v.$radius;
  }
}
