@use 'variables' as v;

.flex-table {
  font-size: 0.85rem;
  background-color: v.$primary;
  color: v.$primary-600;

  &.card {
    background-color: v.$primary;
    color: v.$primary-600;
  }

  .header,
  .body > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 36px;

    > div {
      position: relative;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
    }
  }
}
