@use 'variables' as v;

html {
  font-size: 16px;
  @media only screen and (max-width: v.$mobile-width) {
    font-size: 18px;
  }
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  color: white;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    font-weight: 500;
  }
}

.text-danger {
  color: v.$danger;
}

p {
  font-size: 0.75rem;
}

a {
  &:hover {
    text-decoration: underline;
  }

  text-decoration: none;
  color: v.$accent;

  &.white {
    color: v.$white;
  }

  &.inherit {
    color: inherit;
  }
}
