<div class="player-info">
  <div class="name">
    <bio-icon [flag]="post.shortNameRegion" small [bioTooltip]="post.nameRegion"></bio-icon>
    <a [routerLink]="['/player', post.idPlayer]">{{ post.personaNamePlayer }}</a>
  </div>
  <div class="status">Online<!--TODO ONLINE STATUS--></div>
  <div class="posts">Posts: {{ post.postCount | number: '1.0-0' }}</div>
  <div class="avatar">Avatar<!--TODO AVATAR--></div>
</div>
<form class="post" [controlGroup]="form" (groupSubmit)="save()">
  <div class="header">
    <span class="title">
      <ng-container *ngIf="!editing; else editingPostNameTemplate">{{ post.name }}</ng-container>
      <ng-template #editingPostNameTemplate>
        <bio-form-field label="Name">
          <input bioInput controlName="name" placeholder="Name" />
          <bio-hint end>{{ (name$ | asyncDefault: '').length }} / 500</bio-hint>
          <bio-errors>
            <bio-error *error="'required'">Name is required</bio-error>
          </bio-errors>
        </bio-form-field>
      </ng-template>
    </span>
    <div class="actions" *ngIf="!editing">
      <a bioButton routerLink="replay" [queryParams]="{ quote: post.id }" *ngIf="!topicLocked">
        <bio-icon>format_quote</bio-icon>
        Quote
      </a>
      <button bioButton type="button" *ngIf="post.editAllowed" (click)="openEdit()">
        <bio-icon>edit</bio-icon>
        Edit
      </button>
      <button bioButton type="button" *ngIf="post.deleteAllowed">
        <bio-icon>delete</bio-icon>
        Delete
      </button>
    </div>
  </div>
  <div class="content">
    <!--    <bio-viewer [content]="post.content" *ngIf="!editing; else editingTemplate"> </bio-viewer>-->
    <!--    <ng-template #editingTemplate>-->
    <!--      <bio-editor controlName="content"></bio-editor>-->
    <!--      <div class="actions">-->
    <!--        <button primary bioButton type="button" (click)="closeEdit()">Cancel</button>-->
    <!--        <button primary bioButton type="submit">Save</button>-->
    <!--      </div>-->
    <!--    </ng-template>-->
  </div>
</form>
