@use 'variables' as v;
@use 'mixins' as m;

:host {
  display: inline-block;
  padding: 1rem;
  border-radius: v.$radius;
  background-color: v.$primary-50;
  color: v.$primary-600;
  outline: none;

  @include m.elevation(2);

  &.light {
    background-color: v.$primary-600;
    color: v.$primary-50;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.body {
  $size: calc((2rem * 7) + (0.5rem * 6));

  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
}

.month-button {
  text-transform: capitalize;
}
