@if (viewMode$ | async; as viewMode) {
  <div class="bio-calendar-header">
    <div>
      <button
        [disabled]="disabled || viewMode === viewModeDay"
        bioButton
        type="button"
        (click)="changeViewModel(viewModeDay)"
        >
        {{ day$ | async }}
      </button>
      <button
        class="bio-calendar-month-button"
        [disabled]="disabled || viewMode === viewModeMonth"
        bioButton
        type="button"
        (click)="changeViewModel(viewModeMonth)"
        >
        {{ month$ | async }}
      </button>
      <button
        [disabled]="disabled || viewMode === viewModeYear"
        bioButton
        type="button"
        (click)="changeViewModel(viewModeYear)"
        >
        {{ year$ | async }}
      </button>
    </div>
    <div class="bio-calendar-actions">
      <button bioButton icon type="button" (click)="previous()" [disabled]="disabled">
        <bio-icon>keyboard_arrow_left</bio-icon>
      </button>
      <button bioButton icon type="button" (click)="next()" [disabled]="disabled">
        <bio-icon>keyboard_arrow_right</bio-icon>
      </button>
    </div>
  </div>
  <div class="bio-calendar-body">
    @switch (viewMode) {
      @case (viewModeDay) {
        @if ({ days: days$ | async, dayNames: dayNames$ | async }; as dayState) {
          <bio-calendar-days
            [days]="dayState.days ?? []"
            [dayNames]="dayState.dayNames ?? []"
            [value]="value()"
            [disabled]="disabled"
            (valueChange)="onDaySelect($event)"
            (nextMonth)="next()"
            (previousMonth)="previous()"
            (nextYear)="next(viewModeMonth)"
            (previousYear)="previous(viewModeMonth)"
          ></bio-calendar-days>
        }
      }
      @case (viewModeMonth) {
        @if (months$ | async; as months) {
          <bio-calendar-months
            [months]="months"
            [value]="value()"
            [disabled]="disabled"
            (monthSelect)="onMonthSelect($event)"
            (nextYear)="next(viewModeMonth)"
            (previousYear)="previous(viewModeMonth)"
          ></bio-calendar-months>
        }
      }
      @case (viewModeYear) {
        @if (years$ | async; as years) {
          <bio-calendar-years
            [value]="value()"
            [years]="years"
            [disabled]="disabled"
            (nextYears)="next(viewModeYear)"
            (previousYears)="previous(viewModeYear)"
            (yearSelect)="onYearSelect($event)"
          ></bio-calendar-years>
        }
      }
    }
  </div>
  @if (calendarFooterDirective) {
    <div class="bio-calendar-footer">
      <ng-content select="[bioCalendarFooter],bio-calendar-footer"></ng-content>
    </div>
  }
}
