<div class="header">
  <div>
    <div class="month">{{ month$ | async }}</div>
    <div class="year">{{ year$ | async }}</div>
  </div>
  <div class="actions">
    <button bioButton icon type="button" (click)="previous()">
      <icon>keyboard_arrow_left</icon>
    </button>
    <button bioButton icon type="button" (click)="next()">
      <icon>keyboard_arrow_right</icon>
    </button>
  </div>
</div>
<div class="body" [ngSwitch]="viewMode$ | async">
  <ng-container *ngSwitchCase="calendarViewModeEnum.day">
    <ng-container *ngIf="{ days: days$ | async, dayNames: dayNames$ | async } as dayState">
      <bio-calendar-days
        [days]="dayState.days ?? []"
        [dayNames]="dayState.dayNames ?? []"
        [(value)]="value"
        (valueChange)="valueChange.emit($event)"
        (nextMonth)="next()"
        (previousMonth)="previous()"
      ></bio-calendar-days>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="calendarViewModeEnum.month"> MONTH </ng-container>
  <ng-container *ngSwitchCase="calendarViewModeEnum.year"> YEAR </ng-container>
</div>
<div class="footer"></div>
