@use 'variables' as v;
@use 'mixins' as m;

.tooltip {
  margin: 1rem;
  border-radius: v.$radius;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  background-color: transparentize(v.$dark-overlay, 0.1);
  min-width: 50px;
  color: v.$primary-600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include m.elevation(2);
}
