@use 'variables' as v;

.bio-table {
  font-size: 0.85rem;
  background-color: v.$primary;
  color: v.$primary-600;
  position: relative;
  &.card {
    background-color: v.$primary;
    color: v.$primary-600;
  }
  .header,
  .body > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 36px;
    > div,
    > .bio-cell {
      position: relative;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
      &.flex-grow-0 {
        flex-grow: 0;
      }
    }
  }

  .header,
  .body {
    .order-icon {
      position: absolute;
      right: 0;
    }
  }

  .header {
    &.header-order {
      > .order-by {
        cursor: pointer;
      }
    }
  }
}
