<bio-card class="bio-table" [collapsable]="collapsable" [collapsed]="true">
  @if (loading()) {
    <bio-loading></bio-loading>
  }
  @if (title()) {
    <h3 bioCardTitle>{{ title() }}</h3>
  }
  <bio-card-content>
    <div
      class="header"
      [class.header-order]="order()"
      *ngLet="order()?.orderByDirection === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' as arrow"
      >
      @for (colDef of colDefsInternal; track trackByColDef($index, colDef)) {
        <div
          [style.flex-basis]="colDef.width"
          [class.flex-grow-0]="colDef.width"
          [ngStyle]="colDef.headerStyle"
          [class.order-by]="colDef.orderBy"
          (click)="changeOrder(colDef.orderByKey)"
          >
          {{ colDef.title }}
          @if (colDef.orderBy && order()?.orderBy === colDef.orderByKey) {
            <bio-icon class="order-icon" small>
              {{ arrow }}
            </bio-icon>
          }
        </div>
      }
    </div>
    <hr />
    <div class="body">
      @if (!data().length) {
        <div class="no-data-found">No data found</div>
      }
      @for (item of data(); track trackBy()($index, item)) {
        <div>
          @for (colDef of colDefsInternal; track trackByColDef($index, colDef)) {
            <bio-cell
              [ngStyle]="colDef.bodyStyle"
              [colDef]="colDef"
              [item]="item"
              [metadata]="metadata()"
              (notifyChange)="notifyChange.emit($event)"
            ></bio-cell>
          }
        </div>
        <hr />
      }
    </div>
  </bio-card-content>
  @if (paginationMeta()) {
    <bio-card-actions end>
      <bio-pagination
        [meta]="paginationMeta()"
        [itemsPerPageOptions]="itemsPerPageOptions()"
        (currentPageChange)="currentPageChange.emit($event)"
        (itemsPerPageChange)="itemsPerPageChange.emit($event)"
        setQueryParamsOnChange
      ></bio-pagination>
    </bio-card-actions>
  }
</bio-card>
