<bio-card class="bio-table" [collapsable]="collapsable" [collapsed]="true">
  <bio-loading *ngIf="loading"></bio-loading>
  <h3 bioCardTitle *ngIf="title">{{ title }}</h3>
  <bio-card-content *ngLet="colDefs$ | async as colDefs">
    <div
      class="header"
      [class.header-order]="order"
      *ngLet="order?.orderByDirection === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' as arrow"
    >
      <div
        *ngFor="let colDef of colDefs; trackBy: trackByColDef"
        [style.flex-basis]="colDef.width"
        [class.flex-grow-0]="colDef.width"
        [ngStyle]="colDef.headerStyle"
        [class.order-by]="colDef.orderBy"
        (click)="changeOrder(colDef.orderByKey)"
      >
        {{ colDef.title }}
        <icon class="order-icon" *ngIf="colDef.orderBy && order?.orderBy === colDef.orderByKey" small>
          {{ arrow }}
        </icon>
      </div>
    </div>
    <hr />
    <div class="body" *ngIf="data$ | async as data">
      <div class="no-data-found" *ngIf="!data.length">No data found</div>
      <ng-container *ngFor="let item of data; trackBy: trackBy">
        <div>
          <ng-container *ngFor="let colDef of colDefs; trackBy: trackByColDef">
            <bio-cell
              [ngStyle]="colDef.bodyStyle"
              [colDef]="colDef"
              [item]="item"
              [metadata]="metadata"
              (notifyChange)="notifyChange.emit($event)"
            ></bio-cell>
          </ng-container>
        </div>
        <hr />
      </ng-container>
    </div>
  </bio-card-content>
  <bio-card-actions end *ngIf="paginationMeta">
    <bio-pagination
      [meta]="paginationMeta"
      [itemsPerPageOptions]="itemsPerPageOptions"
      (currentPageChange)="currentPageChange.emit($event)"
      (itemsPerPageChange)="itemsPerPageChange.emit($event)"
      setQueryParamsOnChange
    ></bio-pagination>
  </bio-card-actions>
</bio-card>
