<h1 bioModalTitle>{{ httpError.status }}</h1>
<bio-modal-content>
  @if (httpError.message) {
    <p>Message: {{ httpError.message }}</p>
  }
  @if (httpError.error) {
    <p>Error: {{ httpError.error }}</p>
  }
  @if (httpError.sqlError) {
    @for (keyvalue of httpError.sqlError | keyvalue; track keyvalue) {
      <p>
        <span style="text-transform: capitalize"> {{ keyvalue.key }} </span>: {{ keyvalue.value }}
      </p>
    }
  }
</bio-modal-content>
<bio-modal-actions>
  <button bioModalClose bioButton>Close</button>
</bio-modal-actions>
