@use 'variables' as v;

:host {
  &.success {
    .modal-title {
      color: v.$success;
    }
  }
  &.error {
    .modal-title {
      color: v.$danger;
    }
  }
  &.error,
  &.success {
    .modal-title {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 1rem;
      }
    }
  }
}
