<h5 bioModalTitle *ngIf="data.title">
  <icon *ngIf="!(data.type | any: typesWithoutIcon)" [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="dialogType.success">check_circle_outline</ng-container>
  </icon>
  {{ data.title }}
</h5>
<bio-modal-content [innerHTML]="data.content"></bio-modal-content>
<bio-modal-actions end *ngIf="state$ | async as state">
  <button
    bioButton
    primary
    *ngIf="data.btnNo"
    (click)="no()"
    type="button"
    [loading]="state.loadingNo"
    [disabled]="state.loadingYes"
  >
    {{ data.btnNo }}
  </button>
  <button
    bioButton
    primary
    *ngIf="data.btnYes"
    (click)="yes()"
    type="button"
    [loading]="state.loadingYes"
    [disabled]="state.loadingNo"
  >
    {{ data.btnYes }}
  </button>
</bio-modal-actions>
