@if (loading) {
  <bio-loading />
}
@if (data.title) {
  <h5 bioModalTitle>
    @if (!(data.type | any: typesWithoutIcon)) {
      <bio-icon>
        @switch (data.type) {
          @case (dialogType.success) {
            check_circle_outline
          }
          @case (dialogType.error) {
            highlight_off
          }
        }
      </bio-icon>
    }
    {{ data.title }}
  </h5>
}
<bio-modal-content [innerHTML]="data.content" />
@if (buttons.length) {
  <bio-modal-actions end>
    @for (button of buttons; track trackById($index, button)) {
      <button
        type="button"
        bioButton
        [bioSize]="button.size"
        [bioType]="button.type"
        (click)="btnAction(button)"
        [disabled]="button.disabled || loading"
        [loading]="button.loading"
        >
        {{ button.title }}
      </button>
    }
  </bio-modal-actions>
}
