@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.collapse {
  display: block;
  border-radius: v.$radius;
  background-color: v.$dark-overlay;
  @include m.elevation(2);
  > .collapse-header,
  > .collapse-body > .collapse-content {
    padding: 1rem;
  }
  > .collapse-body > .collapse-content {
    padding-top: 0;
  }
  &:not(.disabled) {
    > .collapse-header {
      cursor: pointer;
    }
    &:not(.expanded) {
      &:hover {
        background-color: lighten(v.$dark-overlay, 5);
      }
    }
  }
  > .collapse-header {
    display: flex;
    justify-content: space-between;
    > .collapse-icon {
      display: flex;
      icon {
        color: f.get-color(v.$primary-type, 600);
      }
    }
  }
}
