<div class="title">Platform:</div>
<div class="value">{{ score.platformName }}</div>
<div class="title">Game:</div>
<div class="value">{{ score.gameName }}</div>
<div class="title">Mini game:</div>
<div class="value">{{ score.miniGameName }}</div>
<div class="title">Mode:</div>
<div class="value">{{ score.modeName }}</div>
<div class="title">Stage:</div>
<div class="value">{{ score.stageName }}</div>
<div class="title">Score:</div>
<div class="value">
  {{ score.score | number: '1.0-0' }}
  @if (showWorldRecord) {
    @if (score.isWorldRecord) {
      <bio-icon
        [mdi]="mdiTrophy"
        bioTooltip="World Record"
        bioTooltipPosition="right"
      ></bio-icon>
    }
    @if (score.isCombinationWorldRecord) {
      <bio-icon
        [mdi]="mdiTrophyAward"
        bioTooltip="Combination World Record"
        bioTooltipPosition="right"
      ></bio-icon>
    }
  }
</div>
@if (showApprovalDate) {
  <div class="title">Approval date:</div>
}
@if (showApprovalDate) {
  <div class="value">{{ score.approvalDate | authDateFormat }}</div>
}
<div class="title">Creation date:</div>
<div class="value">{{ score.creationDate | authDateFormat }}</div>
@if (score.achievedDate) {
  <div class="title">Achieved date:</div>
  <div class="value">{{ score.achievedDate | authDateFormat }}</div>
}

@for (player of score.scorePlayers; track trackById($index, player)) {
  <div class="title">Player {{ $index + 1 }}:</div>
  <div class="value redirect-icon">
    {{ player.playerPersonaName }}
    <a [tabindex]="-1" bioButton icon small [routerLink]="['/player', player.idPlayer]" target="_blank">
      <bio-icon small>launch</bio-icon>
    </a>
  </div>
  @if (player.inputTypeName) {
    <div class="title">Controller:</div>
    <div class="value">{{ player.inputTypeName }}</div>
  }
  <div class="title">Character {{ $index + 1 }}:</div>
  <div class="value">
    {{ player.characterName }} {{ player.characterCostumeName }}
    @if (showWorldRecord && player.isCharacterWorldRecord) {
      <bio-icon
        [mdi]="mdiAccountStar"
        bioTooltip="Character World Record"
        bioTooltipPosition="right"
      ></bio-icon>
    }
  </div>
  <a bio-url-preview [url]="player.evidence"></a>
}
