<form [controlGroup]="form" (groupSubmit)="onSubmit()" *ngLet="saving$ | async as saving">
  <h4 modalTitle>Request changes</h4>
  <modal-content controlArrayName="changes">
    <bio-score-info [score]="score"></bio-score-info>
    <hr />
    <div class="actions">
      <button bioButton icon tooltip="Add change" type="button" (click)="addChange()" [disabled]="saving">
        <icon>add_circle</icon>
      </button>
    </div>
    <div class="change" *ngFor="let change of changesControl; trackBy: trackByControl; let $index = index">
      <form-field label="Change {{ $index + 1 }}">
        <textarea
          rows="1"
          bioInput
          resize="vertical"
          [controlName]="$index"
          (keydown)="onTextAreaKeydown($index, $event)"
          placeholder="Describe what needs to be changed"
          #change="bio-input"
        ></textarea>
      </form-field>
      <div class="icon-wrapper">
        <button
          bioButton
          type="button"
          icon
          (click)="removeChange($index)"
          tooltip="Delete change (CTRL + D)"
          [disabled]="saving"
        >
          <icon>delete</icon>
        </button>
      </div>
    </div>
  </modal-content>
  <modal-actions end>
    <button [disabled]="form.invalid || !changesControl.length" [loading]="saving" accent bioButton type="submit">
      Submit
    </button>
    <button type="button" bioButton (click)="modalRef.close()" [disabled]="saving">Close</button>
  </modal-actions>
</form>
