<ng-container *ngLet="isAdmin$ | async as isAdmin">
  @if (isAdmin) {
    <div class="actions">
      <bio-checkbox [(checked)]="hideDeleted" [disabled]="hasNoneDeleted$ | async">Hide deleted</bio-checkbox>
      <button bioButton type="button" (click)="openManageModerators()" [loading]="loadingManageModeratorsModal">
        <bio-icon [mdi]="mdiAccountTie"></bio-icon>
        Manage moderators
      </button>
      <button bioButton type="button" (click)="openAddEditModal()" [loading]="loadingAddEditModal">
        <bio-icon>add</bio-icon>
        Add category
      </button>
    </div>
  }
  @if (categories$ | async; as categories) {
    @if (!categories.length) {
      <p>No categories found</p>
    }
    <bio-accordion
      multi
      cdkDropList
      [cdkDropListData]="categories"
      [cdkDropListDisabled]="updatingOrder || !isAdmin"
      (cdkDropListDropped)="onCdkDropListDropped($event)"
      >
      @for (category of categories | forumFilterDeleted: hideDeleted; track trackById($index, category)) {
        <bio-accordion-item
          cdkDrag
          [cdkDragData]="category"
          expanded
          >
          <div bioAccordionItemTitle>
            @if (isAdmin) {
              <bio-icon cdkDragHandle> drag_handle </bio-icon>
            }
            {{ category.name }}
            @if (category.deletedDate) {
              - Deleted at {{ category.deletedDate | authDateFormat }}
            }
          </div>
          <bio-forum-categories-category
            [category]="category"
            [isAdmin]="isAdmin"
            [loadingAddEditModal]="loadingAddEditModal"
            [isMobile]="isMobile$ | asyncDefault: false"
            [idCategoriesDropList]="idCategories$ | asyncDefault: []"
            idCategoryDropList="category-drop-list-{{ category.id }}"
            (openAddEditModal)="openAddEditModal($event)"
            (categoryChange)="onCategoryChange($event)"
            (orderChange)="onSubCategoryOrderChange($event)"
          ></bio-forum-categories-category>
        </bio-accordion-item>
      }
      <bio-accordion-item accordionTitle="Recent posts" expanded>
        <bio-forum-categories-recent-topics [recentTopics]="recentTopics"></bio-forum-categories-recent-topics>
      </bio-accordion-item>
      <bio-accordion-item accordionTitle="Players online" expanded>
        <bio-forum-categories-players-online></bio-forum-categories-players-online>
      </bio-accordion-item>
    </bio-accordion>
  }
</ng-container>
