<h4 bioPageTitle></h4>
<ng-container *ngLet="{ hasMode: hasIdMode$ | async } as state">
  <bio-card class="params" collapsable>
    <h3 bioCardTitle>Parameters</h3>
    <bio-card-content>
      <bio-params
        [params]="params$ | async"
        (paramsChange)="form.patchValue($event)"
        [config]="paramsConfig"
        setQueryParamsOnChange
        (modeChange)="onModeChange($event)"
      ></bio-params>
    </bio-card-content>
  </bio-card>
  <form [controlGroup]="form" (groupSubmit)="onSubmit()">
    @for (
      scorePlayerControl of scorePlayersControl; track trackByScorePlayerControl($index,
      scorePlayerControl)) {
      @if (scorePlayerControl.value$ | async; as player) {
        <bio-score-add-player
          [disabled]="!state.hasMode"
          (hostChange)="hostChange($index)"
          (playerChange)="scorePlayerControl.setValue($event)"
          [player]="player"
          [characters]="characters$ | asyncDefault: []"
          [platformInputTypes]="platformInputTypes$ | asyncDefault: []"
          [charactersLoading]="characterLoading"
          [platformInputTypeLoading]="platformInputTypeLoading"
          [first]="$first"
          [playerNumber]="$index + 1"
          [idPlayersSelected]="(idPlayersSelected$ | async) ?? []"
        ></bio-score-add-player>
      }
    }
    <bio-card class="score-params" collapsable>
      <h3 bioCardTitle>Score info</h3>
      <bio-card-content>
        <bio-form-field label="Score" [disabled]="!state.hasMode">
          <input bioInput controlName="score" bioCurrencyMask placeholder="Score" autocomplete="off" />
          <bio-errors>
            <bio-error *error="'required'">Score is required</bio-error>
          </bio-errors>
        </bio-form-field>
        <bio-form-field label="Max combo" [disabled]="!state.hasMode">
          <input bioInput controlName="maxCombo" type="number" autocomplete="off" />
          <bio-errors>
            <bio-error *error="'required'">Max combo is required</bio-error>
            <bio-error *error="'min'">Max combo can't be negative</bio-error>
            <bio-error *error="'max'">Max combo can't surpass 400</bio-error>
          </bio-errors>
        </bio-form-field>
        <bio-form-field label="Time" [disabled]="!state.hasMode">
          <input
            bioInput
            controlName="time"
            [bioMask]="maskEnum.time"
            [dropSpecialCharacters]="false"
            [patterns]="maskTimePattern"
            autocomplete="off"
            />
          <bio-errors>
            <bio-error *error="'required'">Time is required</bio-error>
          </bio-errors>
        </bio-form-field>
        <bio-form-field label="Achieved date" [disabled]="!state.hasMode">
          <input
            bioInput
            controlName="achievedDate"
            autocomplete="off"
            [bioDatepicker]="datepicker"
            placeholder="Achieved date"
            />
          <button bioButton icon bioSuffix [bioDatepickerTrigger]="datepicker">
            <bio-icon>calendar_today</bio-icon>
          </button>
          <bio-datepicker #datepicker></bio-datepicker>
        </bio-form-field>
      </bio-card-content>
      <bio-card-actions>
        <button bioButton type="button" primary (click)="onReset()">Reset</button>
        <div class="submit-wrapper" (mouseenter)="onMouseenterCardActions()">
          <button bioButton type="submit" primary [disabled]="form.invalid || submitModalLoading">Submit</button>
        </div>
      </bio-card-actions>
    </bio-card>
  </form>
</ng-container>
