.player {
  .host {
    grid-column: 1/-1;
  }
}

:host ::ng-deep {
  .score-params .card-content,
  .player .card-content .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
  }

  .card {
    margin-bottom: 1rem;
  }
}
