<ng-container *ngLet="{ hasMode: hasIdMode$ | async } as state">
  <card class="params">
    <h3 cardTitle>Parameters</h3>
    <card-content>
      <bio-params
        [params]="form.valueChanges$ | async"
        (paramsChange)="form.patchValue($event)"
        [config]="paramsConfig"
        setQueryParamsOnChange
      ></bio-params>
    </card-content>
  </card>
  <form [controlGroup]="form" (groupSubmit)="onSubmit()">
    <ng-container *ngFor="let scorePlayerControl of scorePlayersControl; let $index = index; let $first = first">
      <bio-score-add-player
        *ngIf="scorePlayerControl.value$ | async as player"
        [disabled]="!state.hasMode"
        (hostChange)="hostChange($index)"
        (playerChange)="scorePlayerControl.setValue($event)"
        [player]="player"
        [characters]="characters$ | async"
        [charactersLoading]="characterLoading$ | async"
        [first]="$first"
        [playerNumber]="$index + 1"
      ></bio-score-add-player>
    </ng-container>
    <card class="score-params">
      <h3 cardTitle>Score info</h3>
      <card-content>
        <form-field label="Score" [disabled]="!state.hasMode">
          <input bioInput controlName="score" bioCurrencyMask placeholder="Score" autocomplete="off" />
          <errors>
            <error *error="'required'">Score is required</error>
          </errors>
        </form-field>
        <form-field label="Max combo" [disabled]="!state.hasMode">
          <input bioInput controlName="maxCombo" type="number" autocomplete="off" />
          <errors>
            <error *error="'required'">Max combo is required</error>
            <error *error="'min'">Max combo can't be negative</error>
            <error *error="'max'">Max combo can surpass 400</error>
          </errors>
        </form-field>
        <form-field label="Time" [disabled]="!state.hasMode">
          <input
            bioInput
            controlName="time"
            [bioMask]="maskEnum.time"
            [dropSpecialCharacters]="false"
            [patterns]="maskTimePattern"
            autocomplete="off"
          />
          <errors>
            <error *error="'required'">Time is required</error>
          </errors>
        </form-field>
      </card-content>
      <card-actions (mouseenter)="onMouseenterCardActions()">
        <button bioButton type="submit" primary [disabled]="form.invalid">Submit</button>
      </card-actions>
    </card>
  </form>
</ng-container>
