@use 'variables' as v;

.list-item-line:not(:first-of-type) {
  font-size: 0.9em;
  color: v.$primary-400;
}

.scores {
  background-color: v.$primary;
  color: v.$primary-600;
  padding: 0;
  .list-item {
    padding: 1rem 0.75rem;
  }
}
