<bio-card [bioLoading]="loading" class="scores">
  <bio-card-content>
    <bio-list selectable>
      <bio-list-item *ngFor="let score of scores; trackBy: trackByScoreVW">
        <bio-list-item-line> [{{ score.platformShortName }}] {{ score.gameName }} </bio-list-item-line>
        <bio-list-item-line> {{ score.miniGameName }} {{ score.modeName }} </bio-list-item-line>
        <bio-list-item-line>
          {{ score.stageName }}
        </bio-list-item-line>
        <bio-list-item-line *ngFor="let scorePlayer of score.scorePlayers; trackBy: trackByScorePlayerVW">
          {{ scorePlayer.characterName }} {{ scorePlayer.characterCostumeName }} ({{ scorePlayer.playerPersonaName }})
        </bio-list-item-line>
        <div suffix>{{ score.score | scoreFormat }}</div>
      </bio-list-item>
    </bio-list>
  </bio-card-content>
</bio-card>
