<h4 bioPageTitle></h4>
<form [controlGroup]="form" (groupSubmit)="onSearch()">
  <bio-card collapsable class="params">
    <h3 bioCardTitle>Parameters</h3>
    <bio-card-content>
      <bio-form-field label="Platforms">
        <bio-select placeholder="Platforms" multiple controlName="idPlatforms">
          @for (platform of platforms; track trackById($index, platform)) {
            <bio-option [value]="platform.id">
              {{ platform.name }}
            </bio-option>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Games" [loading]="gameLoading">
        <bio-select placeholder="Games" multiple controlName="idGames">
          @for (game of games$ | async; track trackById($index, game)) {
            <bio-option [value]="game.id">
              {{ game.name }}
            </bio-option>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Mini games" [loading]="miniGameLoading">
        <bio-select placeholder="Mini games" multiple controlName="idMiniGames">
          @for (miniGame of miniGames$ | async; track trackById($index, miniGame)) {
            <bio-option [value]="miniGame.id">
              {{ miniGame.name }}
            </bio-option>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Modes" [loading]="modeLoading">
        <bio-select placeholder="Modes" multiple controlName="idModes">
          @for (mode of modes$ | async; track trackById($index, mode)) {
            <bio-option [value]="mode.id">
              {{ mode.name }}
            </bio-option>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Stages" [loading]="stageLoading">
        <bio-select placeholder="Stages" multiple controlName="idStages">
          @for (stage of stages$ | async; track trackById($index, stage)) {
            <bio-option [value]="stage.id">
              {{ stage.name }}
            </bio-option>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field [loading]="characterLoading" label="Characters">
        <bio-select placeholder="Characters" multiple controlName="idCharacterCostumes">
          @for (character of characters$ | async; track trackById($index, character)) {
            <bio-optgroup
              [label]="character.name"
              [title]="character.name"
              >
              @for (characterCostume of character.characterCostumes; track trackById($index, characterCostume)) {
                <bio-option
                  [value]="characterCostume.id"
                  >
                  {{ characterCostume.name }}
                </bio-option>
              }
            </bio-optgroup>
          }
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Score">
        <input bioInput controlName="score" type="text" autocomplete="off" placeholder="E.g. 750k or 750.000" />
      </bio-form-field>
      <bio-checkbox controlName="worldRecord">World record</bio-checkbox>
      <bio-checkbox controlName="characterWorldRecord">Character world record</bio-checkbox>
      <bio-checkbox controlName="combinationWorldRecord">Combination World Record</bio-checkbox>
      <bio-checkbox controlName="onlyMyScores">Only my scores</bio-checkbox>
    </bio-card-content>
    <bio-card-actions>
      <button bioButton primary type="submit" [loading]="loading">Search</button>
    </bio-card-actions>
  </bio-card>
</form>
<bio-score-list-responsive [scores]="scores"
  [colDefs]="colDefs"
  [paginationMeta]="paginationMeta"
  [loading]="loading"
  (currentPageChange)="onCurrentPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
  (scoreClicked)="openInfoScore($event)"
   />
