<h4 bioPageTitle></h4>
<form [controlGroup]="form" (groupSubmit)="onSearch()">
  <bio-card collapsable class="params">
    <h3 bioCardTitle>Parameters</h3>
    <bio-card-content>
      <bio-form-field label="Platforms">
        <bio-select placeholder="Platforms" multiple controlName="idPlatforms">
          <bio-option *ngFor="let platform of platforms; trackBy: trackById" [value]="platform.id">
            {{ platform.name }}
          </bio-option>
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Games" [loading]="gameLoading">
        <bio-select placeholder="Games" multiple controlName="idGames">
          <bio-option *ngFor="let game of games$ | async; trackBy: trackById" [value]="game.id">
            {{ game.name }}
          </bio-option>
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Mini games" [loading]="miniGameLoading">
        <bio-select placeholder="Mini games" multiple controlName="idMiniGames">
          <bio-option *ngFor="let miniGame of miniGames$ | async; trackBy: trackById" [value]="miniGame.id">
            {{ miniGame.name }}
          </bio-option>
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Modes" [loading]="modeLoading">
        <bio-select placeholder="Modes" multiple controlName="idModes">
          <bio-option *ngFor="let mode of modes$ | async; trackBy: trackById" [value]="mode.id">
            {{ mode.name }}
          </bio-option>
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Stages" [loading]="stageLoading">
        <bio-select placeholder="Stages" multiple controlName="idStages">
          <bio-option *ngFor="let stage of stages$ | async; trackBy: trackById" [value]="stage.id">
            {{ stage.name }}
          </bio-option>
        </bio-select>
      </bio-form-field>
      <bio-form-field [loading]="characterLoading" label="Characters">
        <bio-select placeholder="Characters" multiple controlName="idCharacterCostumes">
          <bio-optgroup
            *ngFor="let character of characters$ | async; trackBy: trackById"
            [label]="character.name"
            [title]="character.name"
          >
            <bio-option
              *ngFor="let characterCostume of character.characterCostumes; trackBy: trackById"
              [value]="characterCostume.id"
            >
              {{ characterCostume.name }}
            </bio-option>
          </bio-optgroup>
        </bio-select>
      </bio-form-field>
      <bio-form-field label="Score">
        <input bioInput controlName="score" type="text" autocomplete="off" placeholder="E.g. 750k or 750.000" />
      </bio-form-field>
      <bio-checkbox controlName="worldRecord">World record</bio-checkbox>
      <bio-checkbox controlName="characterWorldRecord">Character world record</bio-checkbox>
      <bio-checkbox controlName="combinationWorldRecord">Combination World Record</bio-checkbox>
      <bio-checkbox controlName="onlyMyScores">Only my scores</bio-checkbox>
    </bio-card-content>
    <bio-card-actions>
      <button bioButton primary type="submit" [loading]="loading">Search</button>
    </bio-card-actions>
  </bio-card>
</form>
<bio-score-list-responsive
  [scores]="scores"
  [colDefs]="colDefs"
  [paginationMeta]="paginationMeta"
  [loading]="loading"
  (currentPageChange)="onCurrentPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
  (scoreClicked)="openInfoScore($event)"
>
</bio-score-list-responsive>
