.params {
  margin-bottom: 1rem;

  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
  }
}

.checkbox-container {
  grid-column: 1/-1;
}
