@use 'variables' as v;
@use 'functions' as f;

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(var(--vh, 1vh) * 100);
}

main {
  margin-top: v.$header-height;
  padding: 1rem;
}
