@use 'variables' as v;
@use 'functions' as f;

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  @media only screen and (max-width: v.$mobile-width) {
    min-height: stretch;
  }
}

main {
  margin-top: v.$header-height;
  padding: 1rem;
}
