@let urlMetadata = urlMetadata$ | async;
<ng-container>
  @if (!loading && urlMetadata) {
    @if (urlMetadata.image) {
      <img class="img" [src]="urlMetadata.image" [alt]="urlMetadata.title" />
    } @else {
      <div class="img no-image">
        <bio-icon>broken_image</bio-icon>
      </div>
    }
    <div class="body">
      <div class="title">{{ urlMetadata.title }}</div>
      <div class="description">{{ urlMetadata.description }}</div>
      <div class="domain">
        <bio-icon small>link</bio-icon>
        {{ urlMetadata.domain }}
      </div>
    </div>
  } @else {
    <div class="img skeleton">
      <bio-spinner medium></bio-spinner>
    </div>
    <div class="body skeleton">Loading url preview...</div>
  }
</ng-container>
