<h4 bioPageTitle></h4>
<form [controlGroup]="form">
  <bio-card>
    <bio-card-content>
      <bio-form-field label="Search">
        <input
          bioInput
          placeholder="At least 3 characters are required to search"
          type="search"
          controlName="term"
          autocomplete="off"
        />
      </bio-form-field>
    </bio-card-content>
  </bio-card>

  <bio-card dark class="users">
    @if (loading) {
      <bio-loading></bio-loading>
    }
    <bio-card-content>
      <bio-list selectable>
        @if (!users.length) {
          <bio-list-item>No data found</bio-list-item>
        }
        @for (user of users; track user.id) {
          <bio-list-item
            [disabled]="user.disabled"
            [bioTooltip]="user.tooltip"
            [bioTooltipDisabled]="user.tooltipDisabled"
            (click)="action(user)"
          >
            <bio-icon bioPrefix outlined>{{ user.bannedDate ? 'lock' : 'lock_open' }}</bio-icon>
            <bio-list-item-line>
              {{ user.username }}
              @if (user.admin) {
                <bio-icon [mdi]="mdiShieldAccount" small></bio-icon>
              }
            </bio-list-item-line>
            <bio-list-item-line>{{ user.email }}</bio-list-item-line>
            @if (user.bannedDate) {
              <span bioSuffix>Banned: {{ user.bannedDate | authDateFormat }}</span>
            }
          </bio-list-item>
        }
      </bio-list>
    </bio-card-content>
    <bio-card-actions end>
      <bio-pagination
        [meta]="paginationMeta"
        (currentPageChange)="pageChange($event)"
        (itemsPerPageChange)="itemPerPageChange($event)"
        setQueryParamsOnChange
      ></bio-pagination>
    </bio-card-actions>
  </bio-card>
</form>
