<h4 bioPageTitle></h4>
<form [controlGroup]="form">
  <bio-card>
    <bio-card-content>
      <form-field label="Search">
        <input
          bioInput
          placeholder="At least 3 characters are required to search"
          type="search"
          controlName="term"
          autocomplete="off"
        />
      </form-field>
    </bio-card-content>
  </bio-card>

  <bio-card dark class="users">
    <bio-loading *ngIf="loading$ | async"></bio-loading>
    <bio-card-content>
      <bio-list selectable *ngLet="users$ | async as users">
        <bio-list-item *ngIf="!users?.length">No data found</bio-list-item>
        <bio-list-item
          [disabled]="user.disabled"
          *ngFor="let user of users; trackBy: trackById"
          [tooltip]="user.tooltip"
          [tooltipDisabled]="user.tooltipDisabled"
          (click)="action(user)"
        >
          <bio-icon bioPrefix outlined>{{ user.bannedDate ? 'lock' : 'lock_open' }}</bio-icon>
          <bio-list-item-line>
            {{ user.username }}
            <bio-icon [mdi]="mdiShieldAccount" *ngIf="user.admin" small></bio-icon>
          </bio-list-item-line>
          <bio-list-item-line>{{ user.email }}</bio-list-item-line>
          <span bioSuffix *ngIf="user.bannedDate">Banned: {{ user.bannedDate | authDateFormat }}</span>
        </bio-list-item>
      </bio-list>
    </bio-card-content>
    <bio-card-actions end>
      <bio-pagination
        [meta]="paginationMeta$ | async"
        (currentPageChange)="pageChange($event)"
        (itemsPerPageChange)="itemPerPageChange($event)"
        setQueryParamsOnChange
      ></bio-pagination>
    </bio-card-actions>
  </bio-card>
</form>
