.card {
  margin-bottom: 1rem;
}

.header {
  > div {
    cursor: pointer;
  }

  .order-icon {
    position: absolute;
    right: 0;
  }
}

.card-score-list {
  display: block;
  margin-bottom: 1rem;
}

.score-list {
  position: relative;
}
