<h4 bioPageTitle></h4>
<bio-card collapsable>
  <h3 bioCardTitle>Parameters</h3>
  <bio-card-content>
    <bio-params (paramsChange)="paramsChange($event)" [config]="paramsConfig" setQueryParamsOnChange />
  </bio-card-content>
</bio-card>
<ng-container *ngLet="tableLoading$ | async as tableLoading">
  @if (isMobile$ | async) {
    @if (scoreTopTableList$ | async; as scoreTopTable) {
      <div class="score-list">
        @if (tableLoading) {
          <bio-loading></bio-loading>
        }
        @for (character of scoreTopTable.scoreTables; track trackByScoreTableWithoutUndefined($index, character)) {
          <bio-score-list
            title="{{ character.characterName }}{{
              character.characterCostumeName !== character.characterName ? ' ' + character.characterCostumeName : ''
            }}"
            collapsable
            [scores]="character.scores"
            class="card-score-list"
            (scoreClicked)="openScoreInfo($event)"
          >
          </bio-score-list>
        }
      </div>
    }
  } @else {
    <bio-card [bioLoading]="tableLoading" class="top-table flex-table">
      <bio-card-content>
        @if (scoreTopTable$ | async; as scoreTopTable) {
          <ng-container *ngLet="orderBy$ | async as order">
            <div
              class="header"
              *ngLet="order.orderByDirection === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' as arrow"
            >
              <div class="character" (click)="updateOrderByCharacter()">
                Character
                @if (order.orderByCharacter) {
                  <bio-icon class="order-icon" small>
                    {{ arrow }}
                  </bio-icon>
                }
              </div>
              @for (stage of scoreTopTable.stages; track trackById($index, stage)) {
                <div [bioTooltip]="stage.name" (click)="updateOrderByIdStage(stage.id)" class="stage">
                  {{ stage.shortName }}
                  @if (order.orderByStage === stage.id) {
                    <bio-icon class="order-icon" small>
                      {{ arrow }}
                    </bio-icon>
                  }
                </div>
              }
            </div>
          </ng-container>
          <hr />
          <div class="body">
            @if (!scoreTopTable.scoreTables.length) {
              <div class="no-data-found">No scores found</div>
            }
            @for (character of scoreTopTable.scoreTables; track trackByScoreTable($index, character)) {
              <div>
                <div class="character">
                  {{ character.characterName }}
                  @if (character.characterCostumeName !== character.characterName) {
                    {{ character.characterCostumeName }}
                  }
                </div>
                @for (score of character.scores; track trackByScore($index, score)) {
                  <div class="score">
                    <button
                      [disabled]="!score || (loadingInfoModal$ | async)"
                      block
                      bioButton
                      (click)="openScoreInfo(score!)"
                    >
                      {{ score?.score || 0 | number: '1.0-0' }}
                    </button>
                  </div>
                }
              </div>
              <hr />
            }
          </div>
        } @else {
          @if (!tableLoading) {
            <div class="no-params">Select the params above to search the world records</div>
          }
        }
      </bio-card-content>
    </bio-card>
  }
</ng-container>
