<div [controlGroup]="form">
  <!-- <editor-fold desc="Platform"> -->
  @if (formsConfig.idPlatform.show) {
    <bio-form-field label="Platform">
      <bio-select controlName="idPlatform" placeholder="Platform" *ngLet="platforms$ | async as platforms">
        @if (!platforms?.length) {
          <bio-option disabled>No data found</bio-option>
        }
        @if ((formsConfig.idPlatform.clearable ?? clearable) && !!(idPlatform$ | async)) {
          <bio-option [value]="null">
            Clear
          </bio-option>
        }
        @for (platform of platforms; track trackById($index, platform)) {
          <bio-option
            [value]="platform.id"
            [title]="platform.name"
            (click)="platformChange.emit(platform)"
            >
            {{ platform.name }}
          </bio-option>
        }
      </bio-select>
      @if (formsConfig.idPlatform.validators?.length) {
        <bio-errors controlError="idPlatform">
          @for (validator of formsConfig.idPlatform.validators; track trackByControlValidator($index, validator)) {
            <bio-error *error="validator.name">{{ formsConfig.idPlatform.errorMessages | get: validator.name }}</bio-error>
          }
        </bio-errors>
      }
    </bio-form-field>
  }
<!-- </editor-fold> -->
<!-- <editor-fold desc="Game"> -->
@if (formsConfig.idGame.show) {
  <bio-form-field [loading]="gameLoading" label="Game">
    <bio-select controlName="idGame" placeholder="Game" *ngLet="games$ | async as games">
      @if (!games?.length && !gameLoading) {
        <bio-option disabled>No data found</bio-option>
      }
      @if (gameLoading) {
        <bio-option disabled><bio-spinner [size]="0.1"></bio-spinner> Loading...</bio-option>
      }
      @if ((formsConfig.idGame.clearable ?? clearable) && !!(idGame$ | async)) {
        <bio-option [value]="null">
          Clear
        </bio-option>
      }
      @for (game of games; track trackById($index, game)) {
        <bio-option
          [value]="game.id"
          [title]="game.name"
          (click)="gameChange.emit(game)"
          >
          {{ game.name }}
        </bio-option>
      }
    </bio-select>
    @if (formsConfig.idGame.validators?.length) {
      <bio-errors controlError="idGame">
        @for (validator of formsConfig.idGame.validators; track trackByControlValidator($index, validator)) {
          <bio-error *error="validator.name">{{ formsConfig.idGame.errorMessages | get: validator.name }}</bio-error>
        }
      </bio-errors>
    }
  </bio-form-field>
}
<!-- </editor-fold> -->
<!-- <editor-fold desc="Mini game"> -->
@if (formsConfig.idMiniGame.show) {
  <bio-form-field [loading]="miniGameLoading" label="Mini game">
    <bio-select controlName="idMiniGame" placeholder="Mini Game" *ngLet="miniGames$ | async as miniGames">
      @if (!miniGames?.length && !miniGameLoading) {
        <bio-option disabled>No data found</bio-option>
      }
      @if (miniGameLoading) {
        <bio-option disabled><bio-spinner [size]="0.1"></bio-spinner> Loading...</bio-option>
      }
      @if ((formsConfig.idMiniGame.clearable ?? clearable) && !!(idMiniGame$ | async)) {
        <bio-option [value]="null">
          Clear
        </bio-option>
      }
      @for (miniGame of miniGames$ | async; track trackById($index, miniGame)) {
        <bio-option
          [value]="miniGame.id"
          [title]="miniGame.name"
          (click)="miniGameChange.emit(miniGame)"
          >
          {{ miniGame.name }}
        </bio-option>
      }
    </bio-select>
    @if (formsConfig.idMiniGame.validators?.length) {
      <bio-errors controlError="idMiniGame">
        @for (validator of formsConfig.idMiniGame.validators; track trackByControlValidator($index, validator)) {
          <bio-error *error="validator.name">{{ formsConfig.idMiniGame.errorMessages | get: validator.name }}</bio-error>
        }
      </bio-errors>
    }
  </bio-form-field>
}
<!-- </editor-fold> -->
<!-- <editor-fold desc="Mode"> -->
@if (formsConfig.idMode.show) {
  <bio-form-field [loading]="modeLoading" label="Mode">
    <bio-select controlName="idMode" placeholder="Mode" *ngLet="modes$ | async as modes">
      @if (!modes?.length && !modeLoading) {
        <bio-option disabled>No data found</bio-option>
      }
      @if (modeLoading) {
        <bio-option disabled><bio-spinner [size]="0.1"></bio-spinner> Loading...</bio-option>
      }
      @if ((formsConfig.idMode.clearable ?? clearable) && !!(idMode$ | async)) {
        <bio-option [value]="null">
          Clear
        </bio-option>
      }
      @for (mode of modes; track trackById($index, mode)) {
        <bio-option
          [value]="mode.id"
          [title]="mode.name"
          (click)="modeChange.emit(mode)"
          >
          {{ mode.name }}
        </bio-option>
      }
    </bio-select>
    @if (formsConfig.idMode.validators?.length) {
      <bio-errors controlError="idMode">
        @for (validator of formsConfig.idMode.validators; track trackByControlValidator($index, validator)) {
          <bio-error *error="validator.name">{{ formsConfig.idMode.errorMessages | get: validator.name }}</bio-error>
        }
      </bio-errors>
    }
  </bio-form-field>
}
<!-- </editor-fold> -->
<!-- <editor-fold desc="Stage"> -->
@if (formsConfig.idStage.show) {
  <bio-form-field [loading]="stageLoading" label="Stage">
    <bio-select controlName="idStage" placeholder="Stage" *ngLet="stages$ | async as stages">
      @if (!stages?.length && !stageLoading) {
        <bio-option disabled>No data found</bio-option>
      }
      @if (stageLoading) {
        <bio-option disabled><bio-spinner [size]="0.1"></bio-spinner> Loading...</bio-option>
      }
      @if ((formsConfig.idStage.clearable ?? clearable) && !!(idStage$ | async)) {
        <bio-option [value]="null">
          Clear
        </bio-option>
      }
      @for (stage of stages; track trackById($index, stage)) {
        <bio-option
          [value]="stage.id"
          [title]="stage.name"
          (click)="stageChange.emit(stage)"
          >
          {{ stage.name }}
        </bio-option>
      }
    </bio-select>
    @if (formsConfig.idStage.validators?.length) {
      <bio-errors controlError="idStage">
        @for (validator of formsConfig.idStage.validators; track trackByControlValidator($index, validator)) {
          <bio-error *error="validator.name">{{ formsConfig.idStage.errorMessages | get: validator.name }}</bio-error>
        }
      </bio-errors>
    }
  </bio-form-field>
}
<!-- </editor-fold> -->
<!-- <editor-fold desc="Character"> -->
@if (formsConfig.idCharacterCostume.show) {
  <bio-form-field [loading]="characterLoading" label="Character">
    <bio-select controlName="idCharacterCostume" placeholder="Character" *ngLet="characters$ | async as characters">
      @if (!characters?.length && !characterLoading) {
        <bio-option disabled>No data found</bio-option>
      }
      @if (characterLoading) {
        <bio-option disabled><bio-spinner [size]="0.1"></bio-spinner> Loading...</bio-option>
      }
      @if ((formsConfig.idCharacterCostume.clearable ?? clearable) && !!(idCharacterCostume$ | async)) {
        <bio-option
          [value]="null"
          >
          Clear
        </bio-option>
      }
      @for (character of characters; track trackById($index, character)) {
        <bio-optgroup
          [label]="character.name"
          [title]="character.name"
          >
          @for (characterCostume of character.characterCostumes; track trackById($index, characterCostume)) {
            <bio-option
              [value]="characterCostume.id"
              title="{{ character.name }} {{ characterCostume.name }}"
              (click)="characterCostumeChange.emit(characterCostume)"
              >
              {{ characterCostume.name }}
            </bio-option>
          }
        </bio-optgroup>
      }
    </bio-select>
    @if (formsConfig.idCharacterCostume.validators?.length) {
      <bio-errors controlError="idCharacterCostume">
        @for (validator of formsConfig.idCharacterCostume.validators; track trackByControlValidator($index, validator)) {
          <bio-error *error="validator.name">
            {{ formsConfig.idCharacterCostume.errorMessages | get: validator.name }}
          </bio-error>
        }
      </bio-errors>
    }
  </bio-form-field>
}
<!-- </editor-fold> -->
<ng-content></ng-content>
</div>
