<bio-loading *ngIf="loading"></bio-loading>
<h4 bioModalTitle>Transfer topic</h4>
<bio-modal-content bioList [(model)]="idSubCategoryTo">
  <ng-container *ngFor="let category of categories; trackBy: trackByCategory">
    <h4>{{ category.name }}</h4>
    <bio-list-item
      *ngFor="let subCategory of category.subCategories; trackBy: trackBySubCategory"
      [value]="subCategory.id"
    >
      {{ subCategory.name }}
    </bio-list-item>
  </ng-container>
</bio-modal-content>
<bio-modal-actions end>
  <button bioButton type="button" bioModalClose>Close</button>
  <button
    bioButton
    type="button"
    [disabled]="idSubCategoryTo === idSubCategory"
    [loading]="saving"
    (click)="transfer()"
  >
    Transfer
  </button>
</bio-modal-actions>
