<ng-container *ngFor="let breadcrumb of breadcrumbs$ | async; trackBy: trackBy; let $last = last">
  <span *ngIf="$last; else notLast" class="item">
    {{ breadcrumb.name }}
  </span>
  <ng-template #notLast>
    <a
      class="item"
      [routerLink]="breadcrumb.path"
      [queryParams]="breadcrumb.queryParams"
      [queryParamsHandling]="breadcrumb.queryParamsHandling"
      [preserveFragment]="breadcrumb.preserveFragment ?? false"
    >
      {{ breadcrumb.name }}
    </a>
    <span class="separator">/</span>
  </ng-template>
</ng-container>
