@if (labelDirective()) {
  <ng-content select="label"></ng-content>
} @else {
  @if (label()) {
    <label
      [danger]="inputDirective()?.dangerClass || select()?.dangerClass"
      [for]="id()"
      [class.required]="forceRequired() || (control | hasValidators: ['required'])"
      >
      {{ label() }}
    </label>
  }
}
<div
  class="input-wrapper"
  [ngClass]="{
    'has-prefix': !!prefixDirective(),
    'has-suffix': !!suffixDirective(),
    disabled: controlState?.disabled,
    'is-select': !!select()
  }"
  >
  <div class="spinner-wrapper">
    @if (loading()) {
      <bio-spinner [size]="0.1"></bio-spinner>
    }
  </div>
  @if (prefixDirective()) {
    <div class="prefix-wrapper" (click)="$event.stopPropagation()">
      <ng-content select="[bioPrefix]"></ng-content>
    </div>
  }
  <ng-content></ng-content>
  @if (suffixDirective()) {
    <div class="suffix-wrapper" (click)="$event.stopPropagation()">
      <ng-content select="[bioSuffix]"></ng-content>
    </div>
  }
</div>
<div class="form-field__bottom-wrapper">
  @if (!controlState?.touched || !(control?.hasErrors$ | async)) {
    <div class="form-field__hints" @fadeIn>
      <ng-content select="bio-hint:not([end]),[bioHint]:not([end])"></ng-content>
      <div class="form-field__hint-spacer"></div>
      <ng-content select="bio-hint[end],[bioHint][end]"></ng-content>
    </div>
  }
  <ng-content select="bio-errors,[bioErrors]"></ng-content>
</div>
