<form [controlGroup]="emailForm" (groupSubmit)="submit()" class="center-container">
  <bio-card class="center-block-mobile">
    <h3 bioCardTitle>Forgot password</h3>
    @if (emailSent) {
      <bio-card-content>
        <bio-confirmation-code-input
          controlName="code"
          (focusoutLastItem)="inputNewPassword.focus()"
          label="Confirmation code"
          [codeError]="confirmCodeError"
        ></bio-confirmation-code-input>
        <bio-form-field label="New password">
          <input
            #inputNewPassword
            autocomplete="new-password"
            placeholder="New password"
            bioInput
            controlName="password"
            type="password"
            />
          <bio-errors>
            <bio-error *error="'required'">New password is required</bio-error>
          </bio-errors>
        </bio-form-field>
        <bio-password-strong [password]="password$ | async"></bio-password-strong>
      </bio-card-content>
    } @else {
      <bio-card-content>
        <p>Forgot your password? No problemo, just fill the box bellow with your e-mail and hit the button</p>
        <bio-form-field label="E-mail">
          <input autocomplete="email" placeholder="E-mail" bioInput controlName="email" type="email" />
          <bio-errors>
            <bio-error *error="'email'">This e-mail is not valid</bio-error>
            <bio-error *error="'required'">E-mail is required</bio-error>
          </bio-errors>
        </bio-form-field>
      </bio-card-content>
    }

    <bio-card-actions>
      <button bioButton type="submit" primary [disabled]="emailForm.invalid" [loading]="loading">
        {{ emailSent ? 'Change password' : 'Send confirmation code' }}
      </button>
    </bio-card-actions>
  </bio-card>
</form>
