@use 'variables' as v;
@use 'mixins' as m;

.autocomplete {
  background-color: v.$dark-overlay;
  border-radius: v.$radius;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(35px + 1rem);
  max-height: calc((35px * 8) + 1rem);
  overflow: auto;
  @include m.elevation(3);

  @for $i from 1 through 8 {
    &.height-#{$i} {
      height: calc((35px * #{$i}) + 1rem);
    }
  }

  .autocomplete-option {
    width: 100%;
    text-align: start;
    height: 35px;
    min-height: 35px;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      font-weight: 500;
    }

    &:not(.disabled) {
      &:hover,
      &:focus,
      &.selected,
      &.active {
        background-color: v.$primary-100;
      }
    }

    &.disabled {
      cursor: default;
      color: hsla(0, 0%, 100%, 0.5);
    }
  }
}
