<bio-list selectable>
  <a bioListItem routerLink="/" (click)="onMenuSelected($event)">
    <bio-icon prefix>home</bio-icon>
    Home
  </a>
  <a bioListItem routerLink="/score/search" queryParamsHandling="preserve" (click)="onMenuSelected($event)">
    <bio-icon prefix>search</bio-icon>
    Search scores
  </a>
  <!--TODO add better Leaderboards layout to support mobile, for now it's disabled-->
  <a
    bioListItem
    *ngIf="!isMobile"
    routerLink="/score/leaderboards"
    queryParamsHandling="preserve"
    (click)="onMenuSelected($event)"
  >
    <bio-icon prefix>leaderboard</bio-icon>
    Leaderboards
  </a>
  <a
    bioListItem
    routerLink="/score/world-records"
    queryParamsHandling="preserve"
    (click)="onMenuSelected($event)"
    class="world-records"
  >
    <bio-icon prefix [mdi]="mdiTrophy"></bio-icon>
    World records
  </a>
  <a
    bioListItem
    [routerLink]="
      user.player?.id ? ['/player', user.player!.id, 'change-requests'] : ['player/u', user.id, 'change-requests']
    "
    queryParamsHandling="preserve"
    (click)="onMenuSelected($event)"
  >
    <bio-icon prefix>sync_alt</bio-icon>
    Score change requests
    <bio-badge suffix>{{ headerQuery.playerRequestChangesCount$ | async }}</bio-badge>
  </a>
  <ng-container *ngIf="user.admin">
    <a class="admin-list-item" bioListItem routerLink="/admin" (click)="onMenuSelected($event)">
      <bio-icon prefix>admin_panel_settings</bio-icon>
      Admin
    </a>
    <a bioListItem routerLink="/admin/approval" queryParamsHandling="preserve" (click)="onMenuSelected($event)">
      <bio-icon prefix>checklist</bio-icon>
      Scores approval (Admin)
      <bio-badge suffix>{{ headerQuery.adminApprovalCount$ | async }}</bio-badge>
    </a>
    <a bioListItem routerLink="/admin/create-player" (click)="onMenuSelected($event)">
      <bio-icon prefix>person_add_alt_1</bio-icon>
      Create player
    </a>
    <a bioListItem routerLink="/admin/rules" (click)="onMenuSelected($event)">
      <bio-icon prefix>article</bio-icon>
      Edit rules
    </a>
    <a bioListItem routerLink="/admin/mail-queue" (click)="onMenuSelected($event)">
      <bio-icon prefix [mdi]="mdiEmailSyncOutline"></bio-icon>
      Mail queue
    </a>
    <a bioListItem routerLink="/admin/ban-user" (click)="onMenuSelected($event)">
      <bio-icon prefix [mdi]="mdiAccountLock"></bio-icon>
      Ban user
    </a>
    <a bioListItem routerLink="/admin/errors" (click)="onMenuSelected($event)">
      <bio-icon prefix outlined>error_outline</bio-icon>
      Errors
    </a>
  </ng-container>
</bio-list>
