<bio-list selectable>
  <a bioListItem routerLink="/" (click)="onMenuSelected($event)">
    <bio-icon bioPrefix>home</bio-icon>
    Home
  </a>
  <a bioListItem routerLink="/score/search" queryParamsHandling="preserve" (click)="onMenuSelected($event)">
    <bio-icon bioPrefix>search</bio-icon>
    Search scores
  </a>
  <!--TODO add better Leaderboards layout to support mobile, for now it's disabled-->
  @if (!isMobile()) {
    <a bioListItem routerLink="/score/leaderboards" queryParamsHandling="preserve" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix>leaderboard</bio-icon>
      Leaderboards
    </a>
  }
  <a
    bioListItem
    routerLink="/score/world-records"
    queryParamsHandling="preserve"
    (click)="onMenuSelected($event)"
    class="world-records"
  >
    <bio-icon bioPrefix [mdi]="mdiTrophy"></bio-icon>
    World records
  </a>
  @if (user().idPlayer) {
    <a
      bioListItem
      [routerLink]="['/player', user().idPlayer, 'change-requests']"
      queryParamsHandling="preserve"
      (click)="onMenuSelected($event)"
    >
      <bio-icon bioPrefix>sync_alt</bio-icon>
      Score change requests
      <bio-badge bioSuffix>{{ headerQuery.playerRequestChangesCount$ | async }}</bio-badge>
    </a>
  }
  <a bioListItem routerLink="/forum" (click)="onMenuSelected($event)">
    <bio-icon bioPrefix>forum</bio-icon>
    Forum
  </a>
  @if (user().admin) {
    <a class="admin-list-item" bioListItem routerLink="/admin" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix>admin_panel_settings</bio-icon>
      Admin
    </a>
    <a bioListItem routerLink="/admin/approval" queryParamsHandling="preserve" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix>checklist</bio-icon>
      Scores approval (Admin)
      <bio-badge bioSuffix>{{ headerQuery.adminApprovalCount$ | async }}</bio-badge>
    </a>
    <a bioListItem routerLink="/admin/create-player" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix>person_add_alt_1</bio-icon>
      Create player
    </a>
    <a bioListItem routerLink="/admin/rules" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix>article</bio-icon>
      Edit rules
    </a>
    <a bioListItem routerLink="/admin/mail-queue" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix [mdi]="mdiEmailSyncOutline"></bio-icon>
      Mail queue
    </a>
    <a bioListItem routerLink="/admin/ban-user" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix [mdi]="mdiAccountLock"></bio-icon>
      Ban user
    </a>
    <a bioListItem routerLink="/admin/errors" (click)="onMenuSelected($event)">
      <bio-icon bioPrefix outlined>error_outline</bio-icon>
      Errors
    </a>
  }
</bio-list>
