@use 'variables' as v;
@use 'mixins' as m;

:host {
  display: block;
  position: fixed;
  left: 0;
  top: v.$header-height;
  bottom: v.$footer-height;
  width: 300px;
  background-color: v.$primary;
  padding: 1rem 0;
  overflow: auto;
  @include m.elevation(3);

  .bio-list .list-item {
    padding: 0.75rem 1rem;
    align-items: center;
  }
}

.world-records {
  .icon {
    font-size: 1.25rem;
  }
}

.admin-list-item {
  margin-top: 1rem;
}
