<bio-card collapsable>
  <h3 bioCardTitle>Parameters</h3>
  <bio-card-content>
    <bio-params (paramsChange)="paramsChange($event)" [config]="paramsConfig" setQueryParamsOnChange>
      <form-field label="Type" *ngLet="type$ | async as type">
        <bio-select [model]="type" (modelChange)="typeChange($event)">
          <bio-option *ngFor="let type of types; trackBy: trackByIdDescription" [value]="type.description">
            {{ type.description }}
          </bio-option>
        </bio-select>
      </form-field>
    </bio-params>
  </bio-card-content>
</bio-card>
<bio-score-list-responsive
  *ngIf="scores$ | async as scores"
  [scores]="scores"
  [loading]="loading$ | async"
  [colDefs]="colDefs"
></bio-score-list-responsive>
