<bio-card *ngIf="state$ | async as state" class="center-block-mobile">
  <h3 bioCardTitle>Change password</h3>
  <bio-card-content [class.text-success]="state.sentEmail">
    <ng-container *ngIf="state.sentEmail; else emailNotSent">
      <icon outlined>check_circle</icon>
      E-mail was sent successfully!
    </ng-container>
    <ng-template #emailNotSent>
      To change you will need to follow the instructions that we will send to your e-mail.
    </ng-template>
  </bio-card-content>
  <bio-card-actions *ngIf="!state.sentEmail">
    <button bioButton primary type="button" (click)="sendEmail()" [loading]="state.sendingEmail">Send e-mail</button>
  </bio-card-actions>
</bio-card>
