<form [controlGroup]="form" (groupSubmit)="save()">
  <bio-card>
    <h3 bioCardTitle>Edit rules</h3>
    <bio-card-content cdkDropList (cdkDropListDropped)="changeOrder($event)">
      <bio-form-field label="Type">
        <bio-select controlName="type">
          <bio-option [value]="ruleTypeEnum.Main" (click)="onRuleTypeChange(ruleTypeEnum.Main)">General</bio-option>
          <bio-option [value]="ruleTypeEnum.Forum" (click)="onRuleTypeChange(ruleTypeEnum.Forum)">Forum</bio-option>
        </bio-select>
      </bio-form-field>
      <div class="actions">
        <button bioButton primary (click)="addRule()" type="button">Add rule</button>
      </div>
      @if (!loadingType) {
        <ng-container controlArrayName="rules">
          @if (!rulesControl.length) {
            <h5>No rules found</h5>
          }
          @for (ruleControl of rulesControl; track trackByControl($index, ruleControl)) {
            <div
              class="item"
              [controlGroupName]="$index"
              cdkDrag
              >
              <div class="icon-wrapper drag">
                <bio-icon cdkDragHandle>drag_handle</bio-icon>
              </div>
              @if (ruleControl.value$ | async; as ruleValue) {
                <bio-form-field label="{{ ruleValue.order }}">
                  <textarea
                    bioInput
                    controlName="description"
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="1"
                    [cdkAutosizeMaxRows]="6"
                  ></textarea>
                  <bio-errors>
                    <bio-error *error="'required'">Description is required</bio-error>
                    <bio-error *error="'whiteSpace'">Description is required</bio-error>
                  </bio-errors>
                </bio-form-field>
              }
              <div class="icon-wrapper delete">
                <button bioButton icon type="button" (click)="deleteRule($index)">
                  <bio-icon>delete</bio-icon>
                </button>
              </div>
            </div>
          }
        </ng-container>
      } @else {
        <bio-loading></bio-loading>
      }
    </bio-card-content>
    @if (deletedControl.value$ | async; as deletedValue) {
      <bio-card-actions (mouseenter)="onMouseenterActions()">
        <button
          bioButton
          primary
          type="submit"
          [disabled]="(form.invalid || form.pristine) && !deletedValue.length"
          [loading]="saving"
          >
          Save
        </button>
        <button bioButton primary type="reset" [disabled]="form.pristine && !deletedValue.length">Reset</button>
      </bio-card-actions>
    }
  </bio-card>
</form>
