<div class="grid-container__icon-read">
  <bio-icon outlined [class.has-new-posts]="topic.hasNewPosts">{{
    topic.hasNewPosts ? 'mark_chat_unread' : 'chat_bubble_outline'
  }}</bio-icon>
</div>
<div class="grid-container__name">
  {{ topic.name }}
</div>
<div class="grid-container__pinned">
  <bio-icon *ngIf="topic.pinned"> push_pin </bio-icon>
</div>
<div class="grid-container__created-by">
  {{ topic.playerPersonaName }}
</div>
<div class="grid-container__creation-date">
  {{ topic.creationDate | authDateFormat }}
</div>
<div class="grid-container__replies">
  {{ topic.repliesCount | number: '1.0-0' }}
</div>
<div class="grid-container__views">
  {{ topic.views | number: '1.0-0' }}
</div>
<div class="grid-container__last-post">
  <div class="last-post-player">
    Last post by <a [routerLink]="['/player', topic.idPlayerLastPost]">{{ topic.playerPersonaNameLastPost }}</a>
  </div>
  <div>on {{ topic.lastPostDate | authDateFormat }}</div>
</div>
