<form [controlGroup]="form" class="center-block-mobile" (groupSubmit)="onConfirm()">
  <bio-card>
    <h3 bioCardTitle>Change password - confirm</h3>
    <bio-card-content>
      <bio-confirmation-code-input
        controlName="code"
        (focusoutLastItem)="inputPassword.focus()"
        label="Confirmation code"
      ></bio-confirmation-code-input>
      <bio-form-field label="Old password">
        <input
          bioInput
          placeholder="Password"
          controlName="oldPassword"
          [type]="hideOldPassword ? 'password' : 'text'"
          autocomplete="password"
          #inputPassword
          />
        <button bioSuffix bioButton icon type="button" (click)="hideOldPassword = !hideOldPassword">
          <bio-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</bio-icon>
        </button>
        <bio-errors>
          <bio-error *error="'required'">Old password is required</bio-error>
        </bio-errors>
      </bio-form-field>
      <bio-form-field label="New password">
        <input
          bioInput
          placeholder="New password"
          controlName="newPassword"
          [type]="hidePassword ? 'password' : 'text'"
          autocomplete="new-password"
          #inputPassword
          />
        <button bioSuffix bioButton icon type="button" (click)="hidePassword = !hidePassword">
          <bio-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</bio-icon>
        </button>
        <bio-errors>
          <bio-error *error="'required'">New password is required</bio-error>
          <bio-error *error="'minLength'; let error"
            >New password must have at least {{ error.required }} characters</bio-error
            >
          </bio-errors>
        </bio-form-field>
        <bio-password-strong [password]="password$ | async"></bio-password-strong>
        <bio-form-field label="Confirm password">
          <input
            bioInput
            placeholder="Confirm new password"
            controlName="confirmNewPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            autocomplete="off"
            />
          <button bioSuffix bioButton icon type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <bio-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</bio-icon>
          </button>
          <bio-errors>
            <bio-error *error="'required'">Confirm new password is required</bio-error>
            <bio-error *error="'minLength'; let error">
              Confirm new password must have at least {{ error.required }} characters
            </bio-error>
            <bio-error *error="'siblingEquals'">New passwords doesn't match</bio-error>
            <bio-error *error="'siblingNotEquals'">New password is the same as the old password</bio-error>
          </bio-errors>
        </bio-form-field>
        @if (error) {
          <p class="text-danger">{{ error }}</p>
        }
      </bio-card-content>
      <bio-card-actions>
        <button type="submit" bioButton primary [disabled]="form.invalid" [loading]="confirming">Confirm</button>
      </bio-card-actions>
    </bio-card>
  </form>
