@use 'variables' as v;
@use 'theme';

body {
  background-color: v.$dark;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: v.$light;
}

::-webkit-scrollbar-thumb {
  background: v.$dark-weak;
}

hr {
  border: 0;
  border-bottom: 1px solid v.$primary-200;
}
