<button
  bioButton
  icon
  small
  tooltip="Approve"
  tooltipPosition="right"
  (click)="openModalApproval(scoreApprovalActionEnum.Approve)"
  [disabled]="loadingApprovalModal"
  type="button"
>
  <icon small>check</icon>
</button>
<button
  bioButton
  icon
  small
  tooltip="Reject"
  tooltipPosition="right"
  (click)="openModalApproval(scoreApprovalActionEnum.Reject)"
  [disabled]="loadingApprovalModal"
  type="button"
>
  <icon small>close</icon>
</button>
<button
  bioButton
  icon
  small
  tooltip="Request changes"
  tooltipPosition="right"
  type="button"
  (click)="openModalRequestChanges()"
  [disabled]="loadingRequestChangesModal"
>
  <icon small>sync_alt</icon>
</button>
