<button
  bioButton
  icon
  small
  bioTooltip="Approve"
  tooltipPosition="right"
  (click)="openModalApproval(scoreApprovalActionEnum.Approve)"
  [disabled]="loadingApprovalModal"
  type="button"
>
  <bio-icon small>check</bio-icon>
</button>
<button
  bioButton
  icon
  small
  bioTooltip="Reject"
  tooltipPosition="right"
  (click)="openModalApproval(scoreApprovalActionEnum.Reject)"
  [disabled]="loadingApprovalModal"
  type="button"
>
  <bio-icon small>close</bio-icon>
</button>
<button
  bioButton
  icon
  small
  bioTooltip="Request changes"
  tooltipPosition="right"
  type="button"
  (click)="openModalRequestChanges()"
  [disabled]="loadingRequestChangesModal"
>
  <bio-icon small>sync_alt</bio-icon>
</button>
