<h4>Welcome to biomercs</h4>
<bio-card-menus bioCardMenuFocusOnFirstItem>
  <ng-container *ngIf="isLogged$ | async; else noLogged">
    <a bioCardMenu routerLink="/score/add">
      <icon>add</icon>
      Submit a score
    </a>
    <a bioCardMenu routerLink="/score/leaderboards" *ngIf="isNotMobile$ | async">
      <icon>leaderboard</icon>
      Check the leaderboards
    </a>
    <ng-container *ngIf="isAdmin$ | async">
      <a
        bioCardMenu
        *ngIf="adminApprovalCount$ | async as adminApprovalCount"
        [bioBadge]="adminApprovalCount"
        routerLink="/admin/approval"
      >
        <icon>checklist</icon>
        Check the pending scores (Admin)
      </a>
    </ng-container>
    <ng-container *ngIf="idUser$ | async as idUser">
      <a
        bioCardMenu
        *ngIf="playerApprovalCount$ | async as playerApprovalCount"
        [bioBadge]="playerApprovalCount"
        [routerLink]="['/player/u', idUser, 'approval']"
      >
        <icon>checklist</icon>
        Check your approval list
      </a>
      <a
        bioCardMenu
        *ngIf="playerRequestChangesCount$ | async as playerRequestChangesCount"
        [bioBadge]="playerRequestChangesCount"
        [routerLink]="['/player/u', idUser, 'change-requests']"
      >
        <icon>sync_alt</icon>
        Check your pending changes list
      </a>
    </ng-container>
  </ng-container>
  <ng-template #noLogged>
    <a bioCardMenu routerLink="/auth/login">
      <icon>login</icon>
      Login
    </a>
    <a bioCardMenu routerLink="/auth/register">
      <icon>person_add</icon>
      Register
    </a>
  </ng-template>
  <a bioCardMenu routerLink="/rules">
    <icon>article</icon>
    Read the rules
  </a>
  <a bioCardMenu routerLink="/faq">
    <icon>quiz</icon>
    Read our FAQ
  </a>
  <a bioCardMenu routerLink="/contact">
    <icon>contact_support</icon>
    Contact support
  </a>
</bio-card-menus>
