<h4>Welcome to biomercs</h4>
<bio-card-menus bioCardMenuFocusOnFirstItem>
  <ng-container *ngIf="isLogged$ | async; else noLogged">
    <a bioCardMenu routerLink="/score/add">
      <bio-icon>add</bio-icon>
      Submit a score
    </a>
    <a bioCardMenu routerLink="/score/leaderboards" *ngIf="isNotMobile$ | async">
      <bio-icon>leaderboard</bio-icon>
      Check the leaderboards
    </a>
    <ng-container *ngIf="isAdmin$ | async">
      <a
        bioCardMenu
        *ngIf="adminApprovalCount$ | async as adminApprovalCount"
        [bioBadge]="adminApprovalCount"
        routerLink="/admin/approval"
      >
        <bio-icon>checklist</bio-icon>
        Check the pending scores (Admin)
      </a>
    </ng-container>
    <ng-container *ngIf="idPlayer$ | async as idPlayer">
      <a
        bioCardMenu
        *ngIf="playerRequestChangesCount$ | async as playerRequestChangesCount"
        [bioBadge]="playerRequestChangesCount"
        [routerLink]="['/player', idPlayer, 'change-requests']"
      >
        <bio-icon>sync_alt</bio-icon>
        Check your pending changes list
      </a>
    </ng-container>
  </ng-container>
  <ng-template #noLogged>
    <a bioCardMenu routerLink="/auth/login">
      <bio-icon>login</bio-icon>
      Login
    </a>
    <a bioCardMenu routerLink="/auth/register">
      <bio-icon>person_add</bio-icon>
      Register
    </a>
  </ng-template>
  <a bioCardMenu routerLink="/rules">
    <bio-icon>article</bio-icon>
    Read the rules
  </a>
  <a bioCardMenu routerLink="/faq">
    <bio-icon>quiz</bio-icon>
    Read our FAQ
  </a>
  <a bioCardMenu routerLink="/contact">
    <bio-icon>contact_support</bio-icon>
    Contact support
  </a>
</bio-card-menus>
