@use 'variables' as v;
@use 'mixins' as m;

.card-menus {
  margin-top: 1rem;
}

.container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 1rem;
  justify-content: center;
}
