<bio-multi-select-items
  icon="chevron_right"
  [items]="items"
  [label]="label"
  [loading]="loadingItems"
  [disabledKey]="disabledKey"
  [searchHint]="itemsSearchHint"
  (search)="search.emit($event)"
  (selectItem)="selectItem.emit($event)"
></bio-multi-select-items>
<div class="middle">
  <button type="button" bioButton icon (click)="allSelected.emit(items)" [disabled]="!items.length || loadingItems">
    <bio-icon>keyboard_double_arrow_right</bio-icon>
  </button>
  <button
    type="button"
    bioButton
    icon
    (click)="allRemoved.emit(selected)"
    [disabled]="!selected.length || loadingSelected"
  >
    <bio-icon>keyboard_double_arrow_left</bio-icon>
  </button>
</div>
<bio-multi-select-items
  icon="chevron_left"
  [items]="selected"
  [label]="label"
  [loading]="loadingSelected"
  [disabledKey]="disabledKey"
  [useInternalSearch]="true"
  (selectItem)="removeItem.emit($event)"
></bio-multi-select-items>
