<ng-container [controlGroup]="form">
  <h3 bioModalTitle>Search players</h3>
  <div bioModalTitle>
    <label class="cdk-visually-hidden" for="search">Search</label>
    <input id="search" autocomplete="off" type="search" bioInput placeholder="Search" controlName="term" />
  </div>
  @if ({ players: players$ | async, term: term$ | async }; as state) {
    <bio-modal-content>
      @if (!state.players?.length && !loading) {
        @if (!state.term) {
          <p>Type something to start searching</p>
        }
        @if (state.term) {
          <p>No data found</p>
        }
      }
      <bio-list [model]="idPlayer">
        @if (loading) {
          <bio-loading />
        }
        @for (player of state.players; track trackByPlayer($index, player)) {
          <bio-list-item [value]="player.id" [bioModalClose]="player">
            {{ player.personaName }}
          </bio-list-item>
        }
      </bio-list>
    </bio-modal-content>
  }
  <bio-modal-actions>
    <bio-pagination
      [meta]="paginationMeta$ | async"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (currentPageChange)="onCurrentPageChange($event)"
    />
    <button bioButton type="button" bioModalClose>Close</button>
  </bio-modal-actions>
</ng-container>
