@use 'variables' as v;

.pagination {
  margin-top: 1rem;
}

$list-item-height: 44px;

.list-item {
  height: $list-item-height;
}

.list {
  height: $list-item-height * 10;
  overflow: auto;
}

::ng-deep {
  .modal-container.player-search-modal {
    min-width: 500px;

    @media only screen and (max-width: v.$mobile-width) {
      min-width: 80vw;
    }
  }
}

.modal-actions {
  flex-direction: column;
  align-items: flex-end;
}

.modal-content {
  padding: 0;
}

p {
  padding: 0 1rem;
}
